<!-- Fao Header container-->
<div class="container {{direction}}">
    <div class="col-md-12 fao-header">
        <header class="header">

            <h1 id="logo-ltr" class="logo">FAO.org
                <a data-link="external" title="FAO homepage" target="_blank" href="//www.fao.org/home/{{locale}}">
                    <img class="img-responsive fao-logo-header" alt="" src="src/images/logo/FAO-logo-{{locale}}-w.png">
                </a>
            </h1>

            <div id="google_search" class="hidden-xs">
                <div id="c205206" class="csc-default">
                    <div class="tx-xinclude-pi1">
                        <form action="//www.fao.org/search/{{locale}}/" method="get" target="_blank"
                              id="searchbox_018170620143701104933:qq82jsfba7w">
                            <input type="hidden" name="cx" value="018170620143701104933:qq82jsfba7w">
                            <!-- Google CSE Search Box Begins -->
                            <input name="q" type="text" class="inputbox" size="18" style="border: 0px; background: url(&quot;https://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) 0% 50% no-repeat rgb(255, 255, 255);">
                            <input type="hidden" name="cof" value="FORID:9">
                            <input id="search-submit" type="submit" value="Search">
                            <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_018170620143701104933%3Aqq82jsfba7w"></script>
                            <!-- Google CSE Search Box Ends -->
                        </form>
                    </div>
                </div>
            </div>

        </header>
    </div>

    <div class="col-md-12 fao-header hidden-xs clearfix">

        <ul class="list-unstyled list-inline fao-menu-list pull-right flip">
            <li>
                <a data-link="external" target="_blank" href="//www.fao.org/about/{{locale}}">{{about_fao}}</a>
            </li>
            <li>
                <a data-link="external" target="_blank" href="//www.fao.org/in-action/{{locale}}">{{in_action}}</a>
            </li>
            <li>
                <a data-link="external" target="_blank"
                   href="//www.fao.org/countryprofiles/{{locale}}">{{countries}}</a>
            </li>
            <li>
                <a data-link="external" target="_blank" href="//www.fao.org/themes/{{locale}}">{{themes}}</a>
            </li>
            <li>
                <a data-link="external" target="_blank" href="//www.fao.org/news/{{locale}}">{{media}}</a></li>
            <li>
                <a data-link="external" target="_blank"
                   href="//www.fao.org/publications/{{locale}}">{{publications}}</a>
            </li>
            <li>
                <a data-link="external" target="_blank" href="//www.fao.org/statistics/{{locale}}">{{statistics}}</a>
            </li>
            <li>
                <a data-link="external" target="_blank"
                   href="//www.fao.org/partnerships/{{locale}}">{{partnerships}}</a>
            </li>
        </ul>

    </div>

    <div class="col-md-12 clearfix">

        <div id="fs-language" class="language-menu pull-right flip">

            <ul class="list-unstyled list-inline hidden-xs">
                {{#unless ALL_LANGUAGES}}
                    <li class="disabled">العربية</li>
                    <li class="disabled">中文</li>
                    <li>
                        <a data-locale="en" href="#">English</a>
                    </li>
                    <li>
                        <a data-locale="fr" href="#">Français</a>
                    </li>
                    <li class="disabled">Русский</li>
                    <a data-locale="es" href="#">Español</a>
                {{else}}
                    <li>
                        <a data-locale="ar" href="#">العربية</a>
                    </li>
                    <li>
                        <a data-locale="zh" href="#">中文</a>
                    </li>
                    <li>
                        <a data-locale="en" href="#">English</a>
                    </li>
                    <li>
                        <a data-locale="fr" href="#">Français</a>
                    </li>
                    <li>
                        <a data-locale="ru" href="#">Русский</a>
                    </li>
                    <li>
                        <a data-locale="es" href="#">Español</a>
                    </li>
                {{/unless}}
            </ul>

            <ul class="list-unstyled list-inline visible-xs">
                {{#unless ALL_LANGUAGES}}
                    <li class="disabled">AR</li>
                    <li class="disabled">ZH</li>
                    <li>
                        <a data-locale="en" href="#">EN</a>
                    </li>
                    <li>
                        <a data-locale="fr" href="#">FR</a>
                    </li>
                    <li class="disabled">RU</li>
                    <a data-locale="es" href="#">ES</a>
                {{else}}
                    <li>
                        <a data-locale="ar" href="#">AR</a>
                    </li>
                    <li>
                        <a data-locale="zh" href="#">ZH</a>
                    </li>
                    <li>
                        <a data-locale="en" href="#">EN</a>
                    </li>
                    <li>
                        <a data-locale="fr" href="#">FR</a>
                    </li>
                    <li>
                        <a data-locale="ru" href="#">RU</a>
                    </li>
                    <li>
                        <a data-locale="es" href="#">ES</a>
                    </li>
                {{/unless}}
            </ul>

        </div>

    </div>

    <div class="col-md-12 hidden-xs">
        <h1 class="faostat-title">
            {{{faostat}}}
        </h1>
    </div>

</div>

<!-- Top menu container -->
<div class="container {{direction}}">
    <div class="col-md-12">
        <div class='faostat_ui_menu' id='fs-menu'></div>
    </div>
</div>

<!--Breadcrumb container -->
<!--<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div id="breadcrumb-container"></div>
        </div>
    </div>
</div>-->

<!-- Main Container -->
<div class="container fs-main-container" id="main-container"></div>

<!-- Page Footer -->
<footer class="container fao-footer {{direction}}">

    <div class="row">
        <div class="col-md-9">
            <h4 class="text-center hidden-xs">{{fao_departments_and_offices}}</h4>
            <h4 class="visible-xs">{{fao_departments_and_offices}}</h4>
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/contact-us/{{locale}}/">{{contact_us}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/contact-us/terms/{{locale}}/">{{terms_and_conditions}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/contact-us/scam-alert/{{locale}}/">{{scam_alert}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/contact-us/report-fraud/{{locale}}/">{{report_fraud}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/employment/home/{{locale}}/">{{employment}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/unfao/procurement/general-information/{{locale}}/">{{procurement}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/unfao/govbodies/gsbhome/gsb-home/{{locale}}/">{{governing_bodies}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/aud/{{locale}}/">{{office_inspector_general}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/evaluation/oed-home/{{locale}}/">{{evaluation}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/legal/home/legal-office/{{locale}}/">{{legal_and_ethics_office}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/ag/portal/ag-home/{{locale}}/">{{agriculture_and_consumer_protection}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/economic/es-home/{{locale}}/">{{economic_and_social_development}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/fishery/{{locale}}">{{fisheries_and_aquaculture}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/forestry/{{locale}}/">{{forestry}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/tc/">{{technical_cooperation}}</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">

                    <ul class="list-unstyled">
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/africa/{{locale}}/">{{regional_office_for_africa}}</a></li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/asiapacific/{{locale}}/">{{regional_office_for_asia_pacific}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/europe/{{locale}}/">{{regional_office_for_europe_central_and_asia}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/americas/{{locale}}/">{{regional_office_for_latin_america_and_carribean}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/neareast/{{locale}}">{{regional_office_for_near_east_and_north_africa}}</a>
                        </li>
                        <li><a data-link="external" target="_blank"
                               href="http://www.fao.org/about/who-we-are/worldwide-offices/{{locale}}/">{{country_offices}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4>{{follow_us}}</h4>
            <div class="row">
                <div class="col-xs-12">

                    <a data-link="external" href="https://www.facebook.com/UNFAO/" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/facebook_26.png" class="lazy-bottom" alt="facebook" title="facebook">
                    </a>

                    <a data-link="external" href="https://www.flickr.com/photos/faonews/collections/" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/flickr_23.png" class="lazy-bottom" alt="flickr" title="flickr">
                    </a>

                    <a data-link="external" href="https://plus.google.com/+UNFAO?rel=author" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/google.png" class="lazy-bottom" alt="google" title="google">
                    </a>

                    <a data-link="external" href="https://www.instagram.com/unfao/" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/instagram.png" class="lazy-bottom" alt="instagram" title="instagram">
                    </a>

                    <a data-link="external" href="https://www.linkedin.com/company/fao" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/linkedin.png" class="lazy-bottom" alt="linkedin" title="linkedin">
                    </a>

                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12">

                    <a data-link="external" href="http://www.fao.org/news/rss-feed/en/" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/rss.png" class="lazy-bottom" alt="rss" title="rss">
                    </a>

                    <a data-link="external" href="http://www.slideshare.net/FAOoftheUN" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/slideshare.png" class="lazy-bottom" alt="slideshare"
                             title="slideshare">
                    </a>

                    <a data-link="external" href="https://soundcloud.com/unfao" target="_blank" class="social-holder">
                        <img data-original="src/images/soundcloud.png" class="lazy-bottom" alt="soundcloud"
                             title="soundcloud">
                    </a>


                    <a data-link="external" href="https://twitter.com/faostatistics" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/twitter.png" class="lazy-bottom" alt="Twitter" title="Twitter">
                    </a>

                    <a data-link="external" href="https://www.youtube.com/user/FAOVideo" target="_blank"
                       class="social-holder">
                        <img data-original="src/images/youtube.png" class="lazy-bottom" alt="YouTube" title="YouTube">
                    </a>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <h5>{{download_your_app}}</h5>

                    <div class="row">
                        <div class="col-xs-2 col-sm-1 col-md-4 col-lg-3">
                            <img height="81" width="55" data-original="src/images/download-app-icon.png"
                                 class="lazy-bottom" alt="download app" title="download app">
                        </div>

                        <div class="col-xs-10 col-sm-11 col-md-8 col-lg-9">

                            <a data-link="external" href="http://itunes.apple.com/us/app/faonow/id877618174?ls=1&mt=8"
                               target="_blank">
                                <img height="38" width="127" data-original="src/images/applestore-icon.png"
                                     class="lazy-bottom apple-device" alt="download apple app" title="download app">
                            </a>

                            <br class="visible-xs visible-sm">

                            <a data-link="external" href="https://play.google.com/store/apps/details?id=org.fao.mobile"
                               target="_blank">
                                <img height="38" width="127" data-original="src/images/googleplay-icon.png"
                                     class="lazy-bottom" alt="download google play app" title="download app">
                            </a>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <br>
            <a data-link="external" href="http://www.fao.org/contact-us/terms/{{locale}}/"
               target='_blank'>
                <span class="hidden-xs pull-right flip">© FAO,&nbsp;2016</span>
                <span class="visible-xs">
                    <br>
                    © FAO,&nbsp;2016
                </span>
            </a>
        </div>
    </div>
    <br>

</footer>

<div id="fs-icons-stack" class="fs-icons-stack">

    <!-- Scrolling -->
    <!--
        <div data-role="scroll-top" class="scroll-top-wrapper">
            <a class="btn-floating btn-small waves-effect waves-light grey lighten-2">
                <i class="material-icons">keyboard_arrow_up</i>
            </a>
        </div>
    -->

    <!-- Help -->
    <!--
        <div data-role="help" data-toggle="tooltip" data-placement="left" title="Do you need any help on that page?" style="display:none;">
            <a class="btn-floating btn-info btn-small waves-effect waves-light">
                <i class="material-icons">live_help</i>
            </a>
        </div>
    -->

    <!-- Feedback -->
    <div data-role="google-form" data-toggle="tooltip" data-placement="left" title="{{help_us_improve_this_site}}">
        <a href='https://docs.google.com/forms/d/1rB6ECrKubLS49wf9_ozx2ywSeLIWSB5PrjaDSWJO-oo/viewform?c=0&w=1'
           target="_blank" class="btn-floating btn-info btn-small waves-effect waves-light">
            <i class="material-icons left">feedback</i>
        </a>
    </div>

    <!-- Feedback System -->
    <div data-role="feedback-system" data-toggle="tooltip" data-placement="left" title="{{feedback_system}}">
        <a href='{{URL_FEEDBACK_SYSTEM}}'
           target="_blank" class="btn-floating btn-default btn-small waves-effect waves-light">
            <i class="material-icons">forum</i>
        </a>
    </div>

</div>

<!-- JIRA -->
<!--<div id="jiraFaostatCollector"
     data-toggle="tooltip" data-placement="left" title="Report an Issue"
     style="position:fixed; bottom:15px; right:85px;z-index:3;">
    <a target="_blank" class="btn-floating btn-danger btn-large waves-effect waves-light">
        <i class="material-icons">bug_report</i>
    </a>
</div>-->


