<!-- Fao Header container-->
<div class="container">
    <div class="col-md-12 fao-header">
        <header class="header">

            <h1 id="logo-ltr" class="logo">FAO.org
                <a class="internal-link" title="FAO homepage" target="_blank" href="//www.fao.org/home/{{locale}}">
                    <!--<img width="321" height="60" class="fao-logo-header" alt="" src="src/images/FAO_logo_Black_2lines_{{locale}}.svg">-->
                    <img width="321" height="60" class="fao-logo-header" alt="" src="src/images/FAO_logo_Black_2lines_en.svg">
                </a>
            </h1>

            <div id="google_search" class="hidden-xs">
                <div id="c205206" class="csc-default">
                    <div class="tx-xinclude-pi1">
                        <form action="//www.fao.org/search/{{locale}}/" method="get" target="_blank"
                              id="searchbox_018170620143701104933:qq82jsfba7w">
                            <input type="hidden" name="cx" value="018170620143701104933:qq82jsfba7w">
                            <!-- Google CSE Search Box Begins -->
                            <input name="q" type="text" class="inputbox" size="18"
                                   style="border: 0px; background: url(&quot;https://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) 0% 50% no-repeat rgb(255, 255, 255);">
                            <input type="hidden" name="cof" value="FORID:9">
                            <input id="search-submit" type="submit" value="Search">
                        <script type="text/javascript"
                                src="http://www.google.com/coop/cse/brand?form=searchbox_018170620143701104933%3Aqq82jsfba7w"></script>
                        <!-- Google CSE Search Box Ends -->
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="col-md-12 fao-header clearfix hidden-xs">

        <ul class="list-unstyled list-inline fao-menu-list pull-right">
            <li>
                <a target="_blank" href="//www.fao.org/about/{{locale}}">{{about_fao}}</a>
            </li>
            <li>
                <a target="_blank" href="//www.fao.org/in-action/{{locale}}">{{in_action}}</a>
            </li>
            <li>
                <a target="_blank" href="//www.fao.org/countryprofiles/{{locale}}">{{countries}}</a>
            </li>
            <li>
                <a target="_blank" href="//www.fao.org/themes/{{locale}}">{{themes}}</a>
            </li>
            <li>
                <a target="_blank" href="//www.fao.org/news/{{locale}}">{{media}}</a></li>
            <li>
                <a target="_blank" href="//www.fao.org/publications/{{locale}}">{{publications}}</a>
            </li>
            <li>
                <a target="_blank" href="//www.fao.org/statistics/{{locale}}">{{statistics}}</a>
            </li>
            <li>
                <a target="_blank" href="//www.fao.org/partnerships//{{locale}}">{{partnerships}}</a>
            </li>
        </ul>

    </div>

    <div class="col-md-12 clearfix">

        <a href="{{url_home}}">
            <img src="src/images/faostat-logo-blue-capital-only-text.svg" width="108px" height="20px" alt="Faostat" class="img-responsive faostat-header-logo pull-left">
        </a>

        <div id="fs-language" class="language-menu pull-right">

            <ul class="list-unstyled list-inline hidden-xs">
                <li class="disabled">العربية</li>
                <li class="disabled">中文</li>
                <li>
                    <a data-locale="en" href="#">English</a>
                </li>
                <li>
                    <a data-locale="fr" href="#">Français</a>
                </li>
                <li class="disabled">Русский</li>
                <li>
                    <a data-locale="es" href="#">Español</a>
                </li>
            </ul>

            <ul class="list-unstyled list-inline visible-xs">
                <li>
                    <a data-locale="en" href="#">EN</a>
                </li>
                <li>
                    <a data-locale="fr" href="#">FR</a>
                </li>
                <li>
                    <a data-locale="es" href="#">ES</a>
                </li>
            </ul>

        </div>
    </div>

</div>

<!-- Top menu container -->
<div class="container">
    <div class="col-md-12">
        <div class='faostat_ui_menu' id='faostat_ui_menu'></div>
    </div>

</div>

<!-- Breadcrumb container -->
<!--<div class="container">-->
<!--&lt;!&ndash;TODO: Probably remove the <br>&ndash;&gt;-->
<!--<br>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div id="breadcrumb-container"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- Main Container -->
<div class="container fs-main-container" id="main-container"></div>

<!-- Page Footer -->
<footer class="container" style="padding-bottom:15px;">

    <div class="row">
        <div class="col-sm-3">
            <img data-original="src/images/faostat-logo-white-capital-only-text.svg" width="108px" height="20px" alt="Faostat" class="faostat-header-logo lazy-bottom">

            <!--<img src="src/images/faostat-logo-white-capital-only-text.svg" alt="Faostat">-->
            <address>
<!--                Viale delle Terme di Caracalla<br>
                00153 Rome, Italy<br>
                Tel. {{TELEPHONE_FAO_STATISTICS}}<br>-->
                <strong>Info</strong>
                <br>
                <a href="mailto:#">FAO-statistics@fao.org</a>
            </address>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-unstyled">
                        <li><a href="#" id='territorial-notes'>{{territorial_notes}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h4>{{menu}}</h4>
            <ul class="list-unstyled">
                <li><a href="#{{locale}}/data">{{data}}Data</a></li>
                <li><a href="#{{locale}}/compare">{{compare}}</a></li>
                <li><a href="#{{locale}}/standards/methodologies">{{mes}}</a></li>
                <li><a href="#{{locale}}/faq">{{frequently_asked_questions}} ({{faqs}})</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4>{{fao_links}}</h4>
            <ul class="list-unstyled">
                <li><a target="_blank" href="http://www.fao.org/economic/ess/en/">{{division_ess}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/economic/en/">{{department_es}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/economic/ess/countrystat/en/">{{countrystat}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/nr/water/aquastat/main/index.stm">{{acquastat}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/fishery/statistics/en">{{fisheries_and_aquaculture}}</a>
                </li>
                <li><a target="_blank" href="http://www.fao.org/forestry/46203/en/">{{forestry}}</a></li>
            </ul>
        </div>

        <div class="col-sm-3">

            <h4>{{help_us}}</h4>

            <ul class="list-unstyled">
                <li><a href="{{URL_FEEDBACK_SYSTEM}}" target="_blank">{{feedback_system}}</a></li>
            </ul>

            <br>
            <h4>{{follow_us}}</h4>

            <a href="https://www.facebook.com/UNFAO/" target="_blank" class="social-holder">
                <img data-original="src/images/facebook_26.png" class="lazy-bottom" alt="facebook" title="facebook">
            </a>

            <a href="https://twitter.com/faostatistics" target="_blank" class="social-holder">
                <img data-original="src/images/twitter.png" class="lazy-bottom" alt="Twitter" title="Twitter">
            </a>

            <a href="https://www.youtube.com/user/FAOVideo" target="_blank" class="social-holder">
                <img data-original="src/images/youtube.png" class="lazy-bottom" alt="YouTube" title="YouTube">
            </a>

            <a href="https://www.flickr.com/photos/faonews/collections/" target="_blank" class="social-holder">
                <img data-original="src/images/flickr_23.png" class="lazy-bottom" alt="flickr" title="flickr">
            </a>

            <a href="http://www.fao.org/news/rss-feed/en/" title="Opens internal link in current window"
               class="social-holder">
                <img data-original="src/images/rss.png" class="lazy-bottom" alt="RSS news feeds" title="RSS news feeds">
            </a>


        </div>

    </div>

    <br>
    <!--  <br>

      <div class="row">
          <div class="col-xs-12">
              <div class="text-center">
                  <ul class="list-unstyled list-inline">
                      <li><a href="#">Copyright</a></li>
                      <li><a href="#">Privacy Notice</a></li>
                      <li><a href="#">Terms of Use</a></li>
                      <li><a href="#">Fraud Alert</a></li>
                      <li><a href="#">Contact us</a></li>
                  </ul>
              </div>
          </div>
      </div>
      -->

    <div class="row">
        <div class="col-xs-12">
            <a href="http://www.fao.org/contact-us/terms/en/" target='_blank' class="pull-right">© FAO,&nbsp;2016</a>
        </div>
    </div>

</footer>

<!-- Scrooling -->
<div class="scroll-top-wrapper">
	<span class="scroll-top-inner">
        <i style="color:white;margin-top:10px;" class="material-icons">keyboard_arrow_up</i>
	</span>
</div>

<!-- Feedbacks -->
<div style="position:fixed; bottom:34px; right:90px;z-index:3;">

    <!-- TODO: Add the link to the Config file -->
    <a target="_blank" href="https://docs.google.com/forms/d/1rB6ECrKubLS49wf9_ozx2ywSeLIWSB5PrjaDSWJO-oo/viewform?c=0&w=1"
       style="opacity:0.8;"
       class="btn btn-sm btn-link visible-xs">
        Help us improve this site
    </a>

    <a target="_blank" href="https://docs.google.com/forms/d/1rB6ECrKubLS49wf9_ozx2ywSeLIWSB5PrjaDSWJO-oo/viewform?c=0&w=1"
       style="opacity:0.8;"
       class="btn btn-link hidden-xs">
        Help us improve this site
    </a>

</div>