
<!-- Top menu container -->
<div class="container">
    <div class='' id='faostat_ui_menu'></div>
</div>

<!-- Breadcrumb container -->
<!--<div class="container">-->
<!--&lt;!&ndash;TODO: Probably remove the <br>&ndash;&gt;-->
<!--<br>-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div id="breadcrumb-container"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- Main Container -->
<div class="container fs-main-container" id="main-container"></div>

<!-- Page Footer -->
<footer class="container" style="padding-bottom:15px;">

    <div class="row">
        <div class="col-sm-3">
            <img src="src/images/faostat-logo-gray.svg" class="fs-footer-logo" alt="Faostat">
            <address>
                Viale delle Terme di Caracalla<br>
                00153 Rome, Italy<br>
                Tel. {{TELEPHONE_FAO_STATISTICS}}<br>
                Mail. <a href="mailto:{{EMAIL_FAO_STATISTICS}}">{{EMAIL_FAO_STATISTICS}}</a>
            </address>
            <div class="row">
                <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="#" id='territorial-notes'>{{territorial_notes}}</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h4>{{menu}}</h4>
            <ul class="list-unstyled">
                <li><a href="#{{locale}}/download/about/Q">{{download}}</a></li>
                <li><a href="#{{locale}}/browse/domain/Q">{{browse}}</a></li>
                <li><a href="#{{locale}}/compare">{{compare}}</a></li>
                <li><a href="#{{locale}}/standards/methodologies">{{mes}}</a></li>
                <li><a href="#{{locale}}/faq">{{frequently_asked_questions}} ({{faqs}})</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4>{{fao_links}}</h4>
            <ul class="list-unstyled">
                <li><a target="_blank" href="http://www.fao.org/economic/ess/en/">{{division_ess}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/economic/en/">{{department_es}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/economic/ess/countrystat/en/">{{countrystat}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/nr/water/aquastat/main/index.stm">{{acquastat}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/fishery/statistics/en">{{fisheries_and_aquaculture}}</a></li>
                <li><a target="_blank" href="http://www.fao.org/forestry/46203/en/">{{forestry}}</a></li>
            </ul>
        </div>

        <div class="col-sm-3">

            <h4>{{help_us}}</h4>

            <ul class="list-unstyled">
                <li><a href="{{URL_FEEDBACK_SYSTEM}}" target="_blank">{{feedback_system}}</a></li>
            </ul>

            <br>
            <h4>{{follow_us}}</h4>

            <a href="https://www.facebook.com/UNFAO/" target="_blank" class="social-holder">
                <img src="src/images/facebook_26.png" alt="facebook" title="facebook">
            </a>

            <a href="https://twitter.com/faostatistics" target="_blank" class="social-holder">
                <img src="src/images/twitter.png" alt="Twitter" title="Twitter">
            </a>

            <a href="https://www.youtube.com/user/FAOVideo" target="_blank" class="social-holder">
                <img src="src/images/youtube.png" alt="YouTube" title="YouTube">
            </a>

            <a href="https://www.flickr.com/photos/faonews/collections/" target="_blank" class="social-holder">
                <img src="src/images/flickr_23.png" alt="flickr" title="flickr">
            </a>

            <a href="http://www.fao.org/news/rss-feed/en/" title="Opens internal link in current window" class="social-holder">
                <img src="src/images/rss.png" alt="RSS news feeds" title="RSS news feeds">
            </a>

        </div>

    </div>

    <br>
    <!--  <br>

      <div class="row">
          <div class="col-xs-12">
              <div class="text-center">
                  <ul class="list-unstyled list-inline">
                      <li><a href="#">Copyright</a></li>
                      <li><a href="#">Privacy Notice</a></li>
                      <li><a href="#">Terms of Use</a></li>
                      <li><a href="#">Fraud Alert</a></li>
                      <li><a href="#">Contact us</a></li>
                  </ul>
              </div>
          </div>
      </div>
      -->

    <div class="row">
        <div class="col-xs-12">
            <a href="http://www.fao.org/contact-us/terms/en/" target='_blank' class="pull-right">© FAO,&nbsp;2016</a>
        </div>
    </div>

</footer>

<!-- Scrooling -->
<div class="scroll-top-wrapper">
	<span class="scroll-top-inner">
		<i style="color:white;" class="fa fa-2x fa-arrow-circle-up"></i>
	</span>
</div>