
<script type='text/x-handlebars-template' id='template'>
    <div class="row">
        <div class="col-md-9">

            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#methodologies" data-section="methodologies" role="tab" data-toggle="tab" aria-expanded="true">
                        {{domains}}
                    </a>
                </li>

                <li class="pull-right">
                    <input data-role="search" type="text" class="form-control" placeholder="{{filter_domains}}">
                </li>

            </ul>
            <br>

            <div style="display:none" data-role="no-data">{{no_data_available}}</div>

            <div data-role="groups"></div>

        </div>
        <div class="col-md-3 hidden-xs">
            <br><br>
            <div data-role="groups-list"></div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='groups'>

    {{#each this}}

        <div class="instafilta-section" data-instafilta-category="{{this.title}}" data-section="{{this.group_code}}">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                       <span style="cursor: pointer;"
                             data-code="{{this.group_code}}"
                             data-role="go_to_download"
                             class="domain-icon icojam_{{this.group_code}}">
                       </span>
                        <a style="color: #333333;"  href="{{this.link}}" class="truncate">
                            {{this.title}}
                        </a>
                    </h4>
                </div>

                <div class="row">
                    {{#each this.data}}
                        <a style="padding-left:30px;padding-top:5px;" class="col-md-6 instafilta-target" href="{{this.link}}">{{this.domain_name}}
                            <span style="display:none">{{../title}}</span>
                        </a>
                    {{/each}}
                </div>
            </div>

            <hr>

            <div class="clearfix"></div>

        </div>

    {{/each}}

</script>

<script type='text/x-handlebars-template' id='domains'>

</script>

<script type='text/x-handlebars-template' id='groups-list'>
    <ul class="list-unstyled">
        {{#each this}}
            <li><h4><a data-section="{{this.group_code}}" href="#">{{this.group_name}}</a></h4></li>
            <hr>
        {{/each}}
    </ul>
</script>