


<script type='text/x-handlebars-template' id='template'>
    <div class="row">
        <div class="col-md-9">

            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#methodologies" data-section="methodologies" role="tab" data-toggle="tab" aria-expanded="true">
                        Domains
                    </a>
                </li>

                <li class="pull-right">
                    <input type="text" class="form-control" placeholder="Filter Domains">
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                </li>

            </ul>

            <br>
            <div data-role="groups"></div>

        </div>
        <div class="col-md-3 hidden-xs">
            <br><br>
            <div data-role="groups-list"></div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='groups'>

    {{#each this}}

        {{#if this.rowStart}}
        <div class="row">
        {{/if}}

            <div class="col-md-6">

                    <div class="row">
                        <div class="col-md-12">
                           <span style="cursor: pointer;"
                                 data-code="{{this.code}}"
                                 data-role="go_to_download"
                                 class="pull-left domain-icon icojam_{{this.code}}">
                            </span>
                                <h4 class="truncate" style="padding-left:5px;">
                                    {{this.title}}
                                </h4>
                            </div>
                    </div>

                        {{#each this.data}}
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#{{this.link}}">{{this.domain_name}}</a>
                                </div>
                            </div>
                        {{/each}}

            </div>

        {{#if this.rowEnd}}
            <div class="clearfix"></div>
            <hr>
        </div>
        {{/if}}

    {{/each}}

</script>

<script type='text/x-handlebars-template' id='domains'>

</script>

<script type='text/x-handlebars-template' id='groups-list'>
    <ul class="list-unstyled">
        {{#each this}}
            <li><h4><a target="_blank" href="#">{{this.group_name}}</a></h4></li>
            <hr>
        {{/each}}
    </ul>
</script>