{{#each data}}
    <div class="row">


        <div class="col-sm-8 col-md-9">
            <h4>
                {{this.Label}}
                <!-- TODO: id should be translated and take from the db as typeLabel -->
                <small>({{this.id}})</small>
            </h4>
            <div>
<!--                <h5>
                    <small>{{group_label}}</small>
                    <span class="domain-icon icojam_{{this.groupCode}}"></span>
                </h5>-->
                <h5>
                    <a href="{{this.download_link}}">{{this.domainName}}</a> ({{this.groupName}})
                </h5>
            </div>
            {{#each relations}}
                <span> {{this.Label}} </span>
            {{/each}}
        </div>

        <div class="col-sm-4 col-md-3">
            <button class="btn btn-default btn-block waves-effect waves-light" data-role="download" data-index="{{index}}">
                <i class="material-icons left hidden-xs">file_download</i>{{download_data}}
            </button>

            <!--<a href="{{this.download_link}}"><i class="fa fa-external-link"></i> {{go_to_download}}</a>-->
            <!--<a style="margin-left:15px;" href="{{this.browse_link}}"><i class="fa fa-external-link"></i>Visualize Data {{go_to_visualize_data}}</a>-->

        </div>

    </div>

<!--    <div class="row clearfix">
        <div class="col-md-9">
            <div style="padding-top:15px;">
                &lt;!&ndash; TODO: with routing an multilanguage &ndash;&gt;
                <a href="{{this.download_link}}"><i class="fa fa-external-link"></i> {{go_to_download}}</a>
                <a style="margin-left:15px;" href="{{this.browse_link}}"><i class="fa fa-external-link"></i> {{go_to_browse}}</a>
            </div>

        </div>

    </div>-->

    <hr>

{{/each}}