<template id="results">
    {{#each data}}
        <div class="row">

            <div class="col-sm-8 col-md-9">
                <h4>
                    {{this.label}}
                    {{#if this.type}}<small>({{this.type}})</small>{{/if}}

                </h4>
                <div>
                    <a href="{{this.download_link}}">{{this.domain_name}}</a> ({{this.group_name}})
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <button class="btn btn-default btn-block waves-effect waves-light" data-role="download" data-index="{{index}}">
                    <i class="material-icons left hidden-xs">file_download</i>{{download_data}}
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div data-role="output"></div>
            </div>
        </div>
        <hr>

    {{/each}}
</template>

<template id="results_clustered">
    {{#each data}}
        <div class="row">

            <div class="col-sm-8 col-md-6">
                <h4>
                    {{this.Label}}
                    {{#if this.type}}<small>({{this.type}})</small>{{/if}}
                </h4>

                {{#each domains}}
                    <div class="row">
                        <div class="col-md-12">
                            <i class="material-icons left hidden-xs">file_download</i>
                            <a href="{{this.download_link}}">{{this.domainName}}</a> ({{this.groupName}})
                        </div>
                    </div>
                {{/each}}

            </div>

        </div>
        <hr>

    {{/each}}
</template>