{{#each data}}
    <div class="row clearfix">

        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h4>
                            {{this.label}}
                            <!-- TODO: id should be translated and take from the db as typeLabel -->
                            <small>({{this.id}})</small>
                        </h4>
                        <div>
                            <h5>
                                <small>{{group_label}}</small>
                                <!--({{this.groupCode}}) -->
                                {{this.groupName}}
                            </h5>
                            <h5>
                                <small>{{domain_label}}</small>
                                <!--({{this.domainCode}})-->
                                {{this.domainName}}
                            </h5>
                        </div>
                        {{#each relations}}
                            <span> {{this.label}} </span>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-left">
                        <div style="padding-top:15px;">
                        <a href="#en/download/interactive/{{this.domainCode}}"><i class="fa fa-external-link"></i> {{go_to_download}}</a>
                        {{#if this.addBrowse}}
                            <!--|-->
                            <a style="margin-left:15px;" href="#en/browse/domain/{{this.domainCode}}"><i class="fa fa-external-link"></i> {{go_to_browse}}</a>
                        {{/if}}
                        </div>
                    </div>
                    <div class="pull-right">
<!--                        <button class="btn btn-default">
                            <a href="#en/download/interactive/{{this.domainCode}}">{{go_to_download}}Go To Download</a>
                        </button>
                        {{#if this.addBrowse}}
                            |
                        <button class="btn btn-default">
                            <a href="#en/browse/domain/{{this.domainCode}}">{{go_to_browse}}Go To Browse</a>
                        </button>
                        {{/if}}
                        |-->
                        <button class="btn btn-default" data-role="download" data-index="{{index}}">
                            {{download_data}}
                            <!--<a href="#" data-role="download" data-index="{{index}}">{{download_data}}Export Data</a>-->
                        </button>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="clearfix"></div>

    </div>
{{/each}}