<template id="results_full">
    {{#each data}}
        <div class="row" data-role="search-result">

            <div class="col-sm-12 col-md-8">
                <h4 class="truncate">
                    {{this.label}}
                    {{#if this.type}}<small>({{this.type}})</small>{{/if}}
                </h4>
                <div class="subtitle truncate">
                    <i data-toggle="tooltip" data-placement="bottom" title="{{metadata}}" data-index="{{index}}" data-role='metadata' class="material-icons left">info_outline</i>
                    <span>
                        <a data-role="download-link" class="truncate" href="{{this.download_link}}">{{this.domain_name}}</a> ({{this.group_name}})
                    </span>
                </div>
            </div>

            <div class="col-xs-6 col-md-2">
                <button data-index="{{index}}" data-role="preview" class="btn btn-primary btn-block waves-effect waves-light truncate">
                    {{show_data}}
                </button>
            </div>

            <div class="col-xs-6 col-md-2">
                <button data-index="{{index}}" data-role="download" class="btn btn-default btn-block waves-effect waves-light truncate">
                    {{download_data}}
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="fs-search-output" style="display:none;" data-role="output-{{index}}"></div>
            </div>
        </div>
        <hr>

    {{/each}}
</template>

<template id="results">
    {{#each data}}
        <div class="row">

            <div class="col-sm-8 col-md-9">
                <h4>
                    {{this.label}}
                    {{#if this.type}}<small>({{this.type}})</small>{{/if}}
                </h4>
                <div>
                    <a href="{{this.download_link}}">{{this.domain_name}}</a> ({{this.group_name}})
                </div>
            </div>

            <div class="col-sm-4 col-md-3">
                <button class="btn btn-default btn-block waves-effect waves-light" data-role="download" data-index="{{index}}">
                    <i class="material-icons left hidden-xs">file_download</i>{{download_data}}
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div data-role="output"></div>
            </div>
        </div>
        <hr>

    {{/each}}
</template>

<template id="results_clustered2">
    {{#each data}}
        <div class="row">

            <div class="col-sm-8 col-md-6">
                <h4>
                    {{this.Label}}
                    {{#if this.type}}<small>({{this.type}})</small>{{/if}}
                </h4>

                {{#each domains}}
                    <div class="row">
                        <div class="col-md-12">
                            <i class="material-icons left hidden-xs">file_download</i>
                            <a href="{{this.download_link}}">{{this.domainName}}</a> ({{this.groupName}})
                        </div>
                    </div>
                {{/each}}

            </div>

        </div>
        <hr>

    {{/each}}
</template>

<template id="results_clustered">
    {{#each data}}
        <div class="row">

            <div class="col-sm-8 col-md-8">
                <h4>
                    {{this.label}}
                    {{#if this.type}}<small>({{this.type}})</small>{{/if}}
                </h4>

                <ul class="list-unstyled" style="font-size:16px;">
                    <li style="padding-top:15px;">
                        <i class="material-icons left">more</i>
                        <a href="{{this.download_link}}">Food Balance Sheets</a> (Food Balance)
                    </li>
                    <li style="padding-top:15px;">
                        <i class="material-icons left">more</i>
                        <a href="{{this.download_link}}">Commodity Balances - Crops Primary Equivalent</a> (Food Balance)
                    </li>
                    <li style="padding-top:15px;">
                        <i class="material-icons left">more</i>
                        <a href="{{this.download_link}}">Food Supply - Crops Primary Equivalent</a> (Food Balance)
                    <li>
                </ul>

            </div>

        </div>
        <hr>

    {{/each}}
</template>