{{#each data}}
    <div class="row clearfix">

        <div class="col-lg-12">
            <div>
             <h3>
                 {{this.label}}
                 <small>({{this.domainCode}})</small>
             </h3>
                 {{#each relations}}
                     <span> {{this.label}} </span>
                 {{/each}}
            </div>

            <div class="pull-right">
                <a href="#en/download/interactive/{{this.domainCode}}">Go To Download</a>
                {{#if this.addBrowse}}
                    |
                    <a href="#en/browse/domain/{{this.domainCode}}">Go To Browse</a>
                {{/if}}
                |
                <a href="#">Export Data</a>
            </div>

            <div class="clearfix"></div>
            <hr>

        </div>

    </div>
{{/each}}