

<template id='country_profile'>

    <div class="row">

        <div class="col-xs-9 col-sm-8 col-md-9 clearfix">
            <h1 class="truncate">{{country_name}}</h1>
        </div>
        <div class="col-xs-3 col-sm-4 col-md-3 clearfix">
            <!-- TODO: use Common.getURI(ROUTE.DATA)-->
            <a type="button" class="btn btn-link pull-right fs-section-back waves-effect"
               id="fs-browse-by-country-profile-back">
                <i class="hidden-xs material-icons left">undo</i>
                <i class="visible-xs material-icons">undo</i>
                <span class="hidden-xs">{{back_to_country_list}}</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class='col-lg-12'>
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#country_list" data-section="country_list" role="tab" data-toggle="tab"
                       aria-expanded="true">
                        {{country_profile}}
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <br>

    <!-- TODO: this should be the same height in md-->
    <div class="row">
        <div class="col-md-9">
            <div class="fs-map panel panel-default hoverable">
                <div class="panel-body">
                    <div style="height: 444px;" id="fs-browse-by-country-profile-map"></div>
                </div>
                <div class="panel-footer">
                    <p><i>{{{map_disclaimer}}}</i></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default hoverable">
                <div class="panel-heading">
                    <h4 class="text-capitalize">{{topics}}</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled" data-role="sections"></ul>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div id="fs-browse-by-country-profile-dashboards"></div>

</template>


<template id='sections'>

    {{#each sections}}
        <li style="padding:3px 0 3px 0;border-bottom: 1px solid #ddd;">
            <h5 class="text-capitalize">
                <a data-dashboard-index='{{index}}' href="#">{{this.title}}</a>
            </h5>
        </li>
    {{/each}}

</template>


<template id='dashboard'>

    <div data-dashboard-index='{{index}}'>
        <h3 class="text-capitalize">{{title}}</h3>
        <div class="row" data-role="dashboard">
    </div>

</template>