
<template id='country_profile'>

    <div class="row">

        <div class="col-xs-9 col-sm-8 col-md-9 clearfix">
                <a style="display:none; margin-left: 0; margin-top: 15px;" data-toggle="modal" data-target="#fs-country-indicators-list-modal" class="pull-left btn-floating waves-effect waves-light btn-primary" data-role="select-country">
                    <i class="material-icons">add</i>
                </a>
            <h1 class="truncate">{{country_name}}</h1>
        </div>
        <div class="col-xs-3 col-sm-4 col-md-3 clearfix">
            <a type="button" class="btn btn-link pull-right fs-section-back waves-effect"
               href="{{url_back_country_list}}">
                <i class="hidden-xs material-icons left">undo</i>
                <i class="visible-xs material-icons">undo</i>
                <span class="hidden-xs">{{back_to_country_list}}</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12'>
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#country_list" data-section="country_list" role="tab" data-toggle="tab"
                       aria-expanded="true">
                        {{country_indicators}}
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default hoverable">
                <div class="panel-heading">
                    <h4 class="text-capitalize">{{topics}}</h4>
                </div>
                <div class="list-unstyled" data-role="sections"></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="fs-map panel panel-default hoverable">
                <div class="panel-body">
                    <div class="country-profile-map" id="fs-browse-by-country-profile-map"></div>
                </div>
                <div class="panel-footer">
                    <p><i>{{{map_disclaimer}}}</i></p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div id="fs-browse-by-country-profile-dashboards"></div>

</template>


<template id='sections'>

    {{#each sections}}
         <div class="panel-footer">
            <h5 class="country-profile-topic truncate">
                {{#if href}}
                    <a href="{{href}}" target="_blank">
                        {{{title}}}
                    </a>
                {{else}}
                    <a data-dashboard-index='{{index}}' href="#">
                        {{{title}}}
                    </a>
                {{/if}}
            </h5>
         </div>
    {{/each}}

</template>

<template id='dashboard'>

    <div data-dashboard-index='{{index}}' data-aos="fade-up">
        <div class="row">
            <div class="col-md-12">
                <h1 class="country-dashboard-title flip">
                    <span class="{{icon}}"></span>
                    {{title}}
                </h1>
            </div>
        </div>
        {{#if show_details}}
        <div class="row">
            <div class="col-md-12">
                <br>
                <p class="text-justify">{{{details}}}</p>
            </div>
        </div>
        {{/if}}
        <div class="row">
            <div class="col-md-12">
                <div data-role="dashboard-compose"></div>
            </div>
        </div>
    </div>

    <br>

</template>

<template id='dashboard-description'>

    <div data-dashboard-index='{{index}}' data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fs-data-group-title text-capitalize">
                    <span style="font-size:24px" data-role="go_to_download" class="domain-icon icojam_{{icon}}"></span>
                    {{title}}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="text-justify">{{{description}}}</p>
                <!-- TODO: add also go to download sections -->
            </div>
            <div class="col-md-9">
                <div class="row" data-role="dashboard"></div>
            </div>
        </div>
    </div>

    <br>

</template>


<!-- TODO: remove it from here-->
<template id="country-list-modal">

    <!-- Modal -->
    <div class="modal left fade " id="fs-country-indicators-list-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header" style="background-color:white; padding-top:0px;padding-bottom:8px;" >
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <h3 class="pull-left"><b>FAO</b>STAT <small>Country List</small></h3>
                            <button style="padding-top:23px;" type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">

                    <!--<input class='form-control' placeholder='{{filter_domain_tree}}' id='fs-download-tree-search'>-->

                    <div class="row">
                        <div class="col-md-12" data-role="country-list"></div>
                    </div>
                    <!--<ul data-role="country-list" class="list-unstyled fs-download-options"></ul>-->

                    <br>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <a type="button" class="btn btn-primary pull-right waves-effect" aria-label="Apply Changes"
                               data-role='country-list-apply-changes'>
                                <i class="material-icons left">done</i>
                                <span class="hidden-xs">Apply changes</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>


<template id="country-list-modal-content">

    {{#if this.checked}}checked{{/if}}

    {{#each data}}
        <li>
            <input type="checkbox" data-code="{{this.code}}" id="country-list-check-box-{{this.code}}">
            <label for="country-list-check-box-{{this.code}}">{{this.label}}</label>
        </li>
    {{/each}}

</template>