<div class="{{#if class}}{{class}}{{else}}col-lg-3{{/if}}"
     data-role="{{#if role}}{{role}}{{/if}}">
    <h2>{{title}}</h2>
    <select data-role="dd" class="js-example-responsive" style="width: 100%" {{#if multiple}}multiple="multiple{{/if}}>
        {{#each data}}
            <option value="{{code}}" {{#if selected}}selected{{/if}}>
                {{label}}
            </option>
        {{/each}}
    </select>
</div>