<script type='text/x-handlebars-template' id='export_pdf_button_structure'>
    <div class='row'>
        <!--<div class='col-xs-9'>-->
            <!--&nbsp;-->
        <!--</div>-->
        <div class='col-xs-12' style='top: 5px;'>
            <div class='pull-right'>
                <button class='btn btn-primary' style='width: 100%;' id='export_pdf_button'>
                    <i class='fa fa-file-pdf-o'></i> {{export_pdf_label}}
                </button>
            </div>
        </div>
    </div>
    <hr>
</script>

<script id='iteration' type='text/x-handlebars-template'>
    <div class='panel-group'>
        {{#each panels}}
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h5 class='panel-title'>
                    <a data-toggle='collapse' data-target='#{{panel_id}}' href='#{{panel_id}}'>
                        {{panel_header_label}}
                    </a>
                </h5>
            </div>
            <div id='{{panel_id}}' class='panel-collapse collapse'>
                <div class='panel-body'>
                {{#each lines}}
                    {{> single_line}}
                {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</script>

<script type='text/x-handlebars-template' id='single_line'>
    <div class='form-group'>
        <div class='row'>
            <div class='col-sm-4'>
                <label>
                    {{field_name}}
                </label>
            </div>
            <div class='col-sm-7'>
                {{field_value}}
            </div>
            <div class='col-sm-1'>
                <i class='fa fa-info-circle'></i>
            </div>
        </div>
    </div>
</script>

<script id='language' type='text/x-handlebars-template'>
    <div class='form-group'>
        <div class='row'>
            <div class='col-sm-4'>
                <label>
                    {{label}}
                </label>
            </div>
            <div class='col-sm-7'>
                {{#each codes}}
                    {{label.EN}}
                {{/each}}
            </div>
            <div class='col-sm-1'>
                <i class='fa fa-info-circle'></i>
            </div>
        </div>
    </div>
</script>

<script id='courtesy_message' type='text/x-handlebars-template'>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <h2 class='text-center'>
                {{message}}
            </h2>
        </div>
    </div>
</script>