<table data-role="table"
       {{#if tableOptions}}
           data-search="{{#if tableOptions.data-search}}{{tableOptions.data-search}}{{else}}false{{/if}}"
           data-show-columns="false"
           data-show-header="{{#if tableOptions.data-show-header}}{{tableOptions.data-show-header}}{{else}}true{{/if}}"
           data-pagination="false"
       {{/if}}
        {{#if height}}
            data-height="{{height}}"
        {{/if}}
    >
    <thead>
    <tr>
    {{#each dsd}}
        <th data-field="{{{this.key}}}" data-sortable="true">{{{this.label}}}</th>
    {{/each}}
    </tr>
    </thead>
</table>