<table class="{{#if this.tableClass}}{{this.tableClass}}{{/if}}" data-role="table"
       {{#if tableOptions}}
           data-striped="false"
           data-search="{{#if tableOptions.data-search}}{{tableOptions.data-search}}{{else}}false{{/if}}"
           data-show-columns="{{#if tableOptions.show-columns}}{{tableOptions.show-columns}}{{else}}false{{/if}}"
           data-show-header="{{#if tableOptions.data-show-header}}{{tableOptions.data-show-header}}{{else}}true{{/if}}"
           data-show-toggle="{{#if tableOptions.data-show-toggle}}{{tableOptions.data-show-toggle}}{{else}}false{{/if}}"
           data-pagination="{{#if tableOptions.data-pagination}}{{tableOptions.data-pagination}}{{else}}false{{/if}}"
           data-page-size="{{#if tableOptions.data-page-size}}{{tableOptions.data-page-size}}{{else}}100{{/if}}"
           data-page-list="{{#if tableOptions.data-page-list}}{{tableOptions.data-page-list}}{{else}}[25,50,100,250]{{/if}}"
           data-pagination-first-text="{{#if tableOptions.first_text}}{{tableOptions.first_text}}{{else}}First{{/if}}"
           data-pagination-pre-text="{{#if tableOptions.previous_text}}{{tableOptions.previous_text}}{{else}}Previous{{/if}}"
           data-pagination-next-text="{{#if tableOptions.next_text}}{{tableOptions.next_text}}{{else}}Next{{/if}}"
           data-pagination-last-text="{{#if tableOptions.last_text}}{{tableOptions.last_text}}{{else}}Last{{/if}}"
           {{#if tableOptions.data-toolbar}}data-toolbar={{tableOptions.data-toolbar}}{{/if}}

           {{#if tableOptions.data-ajax}}data-ajax="{{tableOptions.data-ajax}}{{/if}}"
           {{#if tableOptions.data-side-pagination}}data-side-pagination={{tableOptions.data-side-pagination}}{{/if}}
       {{/if}}
    >
    <thead>
    <tr>
        {{#if sortable}}
            {{#each dsd}}
                <th {{#if this.align}}data-align="{{this.align}}"{{/if}} data-field="{{{this.key}}}" data-sortable="true">{{{this.label}}}</th>
            {{/each}}
        {{else}}
            {{#each dsd}}
                <th {{#if this.align}}data-align="{{this.align}}"{{/if}} data-field="{{{this.key}}}">{{{this.label}}}</th>
            {{/each}}
        {{/if}}
    </tr>
    </thead>
</table>