<script type='text/x-handlebars-template' id='main_structure'>
    <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <div role='tabpanel'>
                <ul class='nav nav-tabs' role='tablist' id='{{tab_headers_id}}'>
                </ul>
                <div class='tab-content' id='{{tab_contents_id}}'>
                </div>
            </div>
        </div>
    </div>
    <div class='row faostat-download-selector-toolbar' >
        <div class='col-xs-4'>
            <input class='form-control' placeholder='{{go_to_label}}' style='margin-bottom: 5px; float: left; height: 31px !important;' id='{{search_id}}'>
        </div>
        <div class='col-xs-4'>
            <button class='btn btn-default btn-sm' type='submit' style='float: right;' id='{{clear_all_button_id}}'>
                <i class='fa fa-times'></i> {{clear_all_label}}
            </button>
        </div>
        <div class='col-xs-4'>
            <button class='btn btn-default btn-sm' type='submit' style='float: right; margin-right: 5px;' id='{{select_all_button_id}}'>
                <i class='fa fa-check-square-o'></i> {{select_all_label}}
            </button>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12 faostat-download-selector-resume-holder'>
            <div id='{{summary_id}}' class='faostat-summary-item'>

            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='summary_item'>
    <div data-type='{{summary_item_type}}'
         id='{{summary_item_id}}'
         class='summary-item'
         data-code='{{summary_item_code}}'
         data-toggle='tooltip'
         data-box='{{box_id}}'
         data-tab='{{tab_id}}'
         title='{{click_to_remove_label}}'
         onclick='{{summary_item_click}}'>
        {{summary_item_label}}
    </div>
</script>

<script type='text/x-handlebars-template' id='tab_header_structure'>
    <li role='{{role_id}}'>
        <a href='#{{role_id}}' aria-controls='{{role_id}}' role='tab' data-toggle='tab'>
            {{tab_header_label}}
        </a>
    </li>
</script>

<script type='text/x-handlebars-template' id='tab_content_structure'>
    <div role='tabpanel' class='tab-pane fade' id='{{id}}' style='padding: 5px 0 5px 0;'>
        <div id='{{content_id}}' style='height: 100px; width: 100%; overflow-y: auto; overflow-x: hidden;'></div>
    </div>
</script>