
{{#each this}}
    <li class="fs-home-update">
        <h5><a href='{{this.url}}' data-code='{{this.domain_code}}'>{{this.title}}</a></h5>
        <p>{{this.date_update}} <span class="text-capitalize">{{this.note_update}}</span></p>
        <hr>
    </li>
{{/each}}