
{{#each this}}
    <li class="fs-home-update">
        <!-- TODO: change with links from Commmon.getURI -->
        <h5><a href='{{this.url}}' data-code='{{this.domain_code}}'>{{this.title}}</a></h5>
        <p>{{this.date}} <span class="text-capitalize">{{this.note}}</span></p>
        <hr>
    </li>
{{/each}}