
<div class="row">
    <div class="col-lg-12">

        <h5>
            {{welcome_text}}
        </h5>
        
        <div class="row">
            <div class="fs-home-domains" id="fs_home_domains"></div>
        </div>
        
    </div>
</div>

<div class="row">

    <!-- left side -->
    <div class="col-lg-8">
        <br><br>

        <!-- Chart -->
        <!--<div  class="col-lg-12">-->
        <!--<h1>{{chart_title}}</h1>-->
        <!--<h2>{{chart_subtitle}}</h2>-->
        <!--<div id="fs_home_chart"></div>-->
        <!--</div>-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <!--
                    <div class="pull-right">
                        <a class="btn btn-primary" data-role="export"><i class="fa fa-download"></i>  {{export_data}}</a>
                    </div>
                    -->
                <h5>{{chart_title}}</h5>
                <h6>{{chart_subtitle}}</h6>
            </div>
            <div class="panel-body">
                <div id="fs_home_chart"></div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>{{database_updates}}</h5>
                    </div>
                    <!-- TODO: add height in css -->
                    <div class="panel-body"  style="max-height: 210px; overflow-y: auto;">
                        <div id="fs_home_database_updates"></div>
                    </div>
                    <div class="panel-footer">
                        <h5>
                            <i class="fa fa-calendar"></i> <a href="http://faostat3.fao.org/releasecalendar/Default.aspx" target="_blank" >{{release_calendar}}</a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <!-- info box -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>{{info_box_title}}</h5>
                    </div>
                    <div class="panel-body">
                        {{{info_box_text}}}
                    </div>
                    <div class="panel-footer">
                        <h5>
                            <i class="fa fa-link"></i> {{{info_box_link}}}
                        </h5>
                    </div>

                </div>
            </div>
        </div>

        <!-- Partners List -->
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>{{partners}}</h5>
            </div>
            <div class="panel-body">
                <p>TBD</p>
            </div>

        </div>

    </div>

    <!-- right side -->
    <div class="col-lg-4">
        <br>
        <div class="col-lg-12">

            <div>
                <h4>{{featured_links}}</h4>

                <!-- TODO: how to get the right size? -->
                <div>
                    <i class="fa fa-download"></i> <a href="{{URL_FAOSTAT_DATABASE_ZIP}}">{{faostat_database_download}}</a>
                </div>
                <div id="fs_home_country_profiles">
                    <i class="fa fa-line-chart"></i> <a href="#{{URL_BROWSE_BY_COUNTRY}}">{{country_profiles}}</a>
                </div>
                <div id="fs_home_rankings">
                    <i class="fa fa-line-chart"></i> <a href="#{{URL_BROWSE_RANKINGS}}">{{rankings}}</a>
                </div>
            </div>

            <hr>
            <div>
                <h4>{{whats_new}}</h4>
                <div id="fs_home_whats_new"></div>
            </div>

            <hr>
            <div>
                <h4>{{coming_up}}</h4>
                <div id="fs_home_coming_up"></div>
            </div>
            <hr>

            <div>
                <h4>{{follow_faostatistics}}</h4>
                <a id="fs_home_twitter" class="twitter-timeline" data-chrome="" height="350" href="https://twitter.com/FAOstatistics" data-widget-id="700247798168551424">Tweets by @FAOstatistics</a>
                <script>

                    // TODO: check if is it useful the timeout
                    setTimeout(function() {
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    },2000);

                </script>
            </div>

        </div>
    </div>

</div>
