<!--<div class="row fs-intro-message">-->

<!--<div class="col-md-12">-->
<!--{{welcome_text}}-->
<!--</div>-->


<!--</div>-->

<!-- Swiper -->
<div class="swiper-container fs-home-swiper">

    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="title">
                <h1 data-swiper-parallax="-100">Near East: Improvements in food security being offset by impacts of conflict, strife</h1>
                <h2 class="hidden-xs" data-swiper-parallax="-500">FAO Director-General says more support for agriculture needed from rich countries</h2>
                <div class="white-stripe"></div>
            </div>
            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-2.jpg)"></div>
        </div>
        <div class="swiper-slide">
            <div class="title">
                <h1 data-swiper-parallax="-100">FAO and Nobel laureates to tackle the twin problems of hunger and violence</h1>
                <h2 class="hidden-xs" data-swiper-parallax="-500">Agriculture can drive post-conflict recovery – New alliance will strengthen agency's role in peacebuilding</h2>
                <div class="white-stripe"></div>
            </div>
            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-3.jpg)"></div>

        </div>
        <div class="swiper-slide">
            <div class="title">
                <h1 data-swiper-parallax="-100">New pesticide guidelines seek faster phase-out of risky toxins</h1>
                <h2 class="hidden-xs" data-swiper-parallax="-500">FAO and WHO offer road map to deal with Highly Hazardous Pesticides</h2>
                <div class="white-stripe"></div>
            </div>
            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-4.jpg)"></div>

        </div>
        <div class="swiper-slide">
            <div class="title">
                <h1 data-swiper-parallax="-100">Near East countries gather to discuss shared food securitypriorities</h1>
                <h2 class="hidden-xs" data-swiper-parallax="-500">FAO Regional Conference for the Near East opens inRome</h2>
                <div class="white-stripe"></div>
            </div>
            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-5.jpg)"></div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev">
        <a class="btn-floating waves-effect waves-light btn-default hoverable">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
    <div class="swiper-button-next">
        <a class="btn-floating waves-effect waves-light btn-default hoverable">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
</div>

<div class="row home-content">

    <!-- left side -->
    <div class="col-md-8">

        <div class="row">

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">
                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img src="src/images/homepage/database.jpg" class="img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a href='{{URL_RELEASE_CALENDAR}}' target="_blank" class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">event_note</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>{{database_updates}}</h3>

                        <div class="swiper-container-updates">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul id="fs_home_database_updates" class="list-unstyled"></ul>
                                </div>
                            </div>
                            <!-- Add Scroll Bar -->
                            <div class="swiper-scrollbar"></div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">
                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img src="src/images/homepage/stats.jpg" class="img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a href='{{URL_DATA}}' class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>Data</h3>
                        <p>Faostat offers free and easy access to data for 245 countries and 35 regional areas from 1961 through the most recent year available. </p>
                        <p>Enhanced features include browsing and analysis of data, an advanced interactive data download, and enhanced data exchange through web services.</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="hidden-xs"><br><br></div>

        <div class="row">

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">

                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img src="src/images/homepage/pocket.jpg" class="img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a target='_blank' href='http://www.fao.org/3/a-i4691e.pdf?utm_campaign=faostatistics&utm_source=twitter&utm_medium=social%20media' taget="_blank" class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <!-- Content -->
                    <div class="card-content">
                        <h3>{{info_box_title}}</h3>

                        <p>{{{info_box_text}}}</p>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">
                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img src="src/images/homepage/info-1.jpg" class="img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a target='_bnlak' href='http://www.fao.org/resources/infographics/en/' class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>Make #NotWasting a way of life</h3>

                        <p>Each year one third of global food production for human consumption never ﬁnds its way onto
                            plates and is lost or wasted. Cutting food loss and waste reduces poverty and hunger and
                            ﬁghts climate change. Make #NotWasting Your Way of Life.</p>

                    </div>

                </div>
            </div>

        </div>

        <div class="hidden-xs"><br><br></div>

        <div class="row">

            <div class="col-sm-12">
                <div class="elegant-card z-depth-1 hoverable">

                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img src="src/images/homepage/sdgs.png" class="img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a target='_blank' href='http://www.fao.org/sustainable-development-goals/home/en/' taget="_blank" class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <!-- Content -->
                    <div class="card-content">
                        <h3>Food security in the 2030 Agenda for Sustainable Development</h3>
                        <p>Adopted by the UN’s 193 Member States on 25 September 2015, the Sustainable Development Goals are new global goals that will succeed the Millennium Development Goals in 2016. The SDGs will shape national development policies for the next 15 years. Food and agriculture is at the heart of the 17 SDGs, beginning with SDG1, End poverty, and SDG2, End hunger. Food security and its link to natural resources and rural development features in virtually every goal of the 2030 Agenda.  </p>
                    </div>

                </div>
            </div>

        </div>


        <div class="visible-xs"><br><br></div>
    </div>

    <!-- right side -->
    <div class="col-md-4">

        <div class="panel panel-default hoverable">

            <div class="panel-heading">
                <h4>{{featured_links}}</h4>
            </div>

            <div class="panel-body grey lighten-5">

                <!-- Featured Links -->
                <a href="{{URL_FAOSTAT_DATABASE_ZIP}}" class="btn btn-lg  btn-primary btn-block" target='_blank' data-role="fs-download-metadata-button">
                    <i class="material-icons left">file_download</i>{{faostat_database_download}}
                </a>

                <a href="{{URL_BROWSE_BY_COUNTRY}}" class="btn btn-lg  btn-link btn-block">
                    <i class="material-icons left">flag</i>{{country_profiles}}
                </a>

                <a href="{{URL_BROWSE_RANKINGS}}" class="btn btn-lg btn-link btn-block">
                    <i class="material-icons left">trending_up</i>{{rankings}}
                </a>
            </div>

            <div class="panel-footer">

                <!-- Twitter -->


                <!--<h4>{{follow_faostatistics}}</h4>-->
                <div id="fs_home_twitter"
                     class="twitter-timeline"
                     data-chrome=""
                     height="350"
                     href="https://twitter.com/FAOstatistics"
                     data-widget-id="{widget_id}"
                >
                    <!--data-widget-id="700247798168551424">-->
                    <!--Tweets by @FAOstatistics-->
                </div>
            </div>
            <div class="panel-footer">
                <!--<p class="label label-default label-aligned">Contacts</p>-->
                <img src="src/images/FAO_logo_Blue_3lines_en.svg" class="img-responsive fao-logo-home" alt="">

                <!--<p class="small">{{welcome_text}}</p>-->

                <address>
                    <a href="http://www.fao.org/economic/ess/en/" target="_blank"><strong>Statistics Division</strong></a><br>
                    Food and Agriculture Organization of the United Nations<br>
                    Viale delle Terme di Caracalla<br>
                    00153 Rome, Italy<br>
                    <abbr title="Phone">F:</abbr> (+39) 06 5705 5615
                </address>

                <address>
                    <strong>Info</strong><br>
                    <a href="mailto:#">FAO-statistics@fao.org</a>
                </address>

            </div>

        </div>

    </div>

</div>
