

<div class="row">
    <div class="col-lg-12">
        <h5>FIND YOUR STATISTICAL DATA BY EXPLORING FAOSTAT DATA DOMAINS. CLICK ON THE DOMAIN GROUPS BELOW</h5>
        <div id="fs_home_domains"></div>
    </div>
</div>

<div class="row">

    <!-- left side -->
    <div class="col-lg-8">

        <!-- Chart -->
        <div  class="col-lg-12">
            <h1>{{chart_title}}</h1>
            <h2>{{chart_subtitle}}</h2>
            <div id="fs_home_chart"></div>
        </div>

        <hr>

        <!-- Database Updates -->
        <div class="col-lg-6">
            <h1>{{database_updates}}</h1>
            <div>
                <div id="fs_home_database_updates"></div>
                <div id="fs_home_release_calendar"></div>
            </div>
        </div>

        <div class="col-lg-6">

            <!-- info box -->
            <div>
                <h1>{{info_box_title}}</h1>
                <p>{{{info_box_text}}}</p>
                <p>{{{info_box_link}}}</p>
            </div>

            <hr>

            <!-- FAO Links -->
            <!-- TODO: this should be moved to the footer -->
            <div>
                <h1>{{fao_links}}</h1>
                <!-- TODO: move in config and use handlebars? -->
                <div>
                    <a target="_blank" href="http://www.fao.org/economic/ess/en/">{{division_ess}}</a>
                </div>
                <div>
                    <a target="_blank" href="http://www.fao.org/economic/en/">{{department_es}}</a>
                </div>
                <div>
                    <a target="_blank" href="http://www.fao.org/economic/ess/countrystat/en/">{{countrystat}}</a>
                </div>
                <div>
                    <a target="_blank" href="http://www.fao.org/nr/water/aquastat/main/index.stm">{{acquastat}}</a>
                </div>
                <div>
                    <a target="_blank" href="http://www.fao.org/fishery/statistics/en">{{fisheries_and_aquaculture}}</a>
                </div>
                <div>
                    <a target="_blank" href="http://www.fao.org/forestry/46203/en/">{{forestry}}</a>
                </div>
            </div>

        </div>

        <!-- Partners List -->
        <div class="col-lg-12">

            <h1>{{partners}}</h1>

            <!-- Nav tabs -->
<!--            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" data-partner='fra'><a href="#partner-fra"  aria-controls="home" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='fe'><a href="#partner-fe"  aria-controls="profile" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='unece'><a href="#partner-unece"  aria-controls="messages" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='mp'><a href="#partner-mp"  aria-controls="settings" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='ofac'><a href="#partner-ofac"  aria-controls="settings" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='itto'><a href="#partner-itto"   aria-controls="settings" role="tab" data-toggle="tab"></a></li>
            </ul>-->

            <!-- Tab panes -->
<!--            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="partner-fra">{{ home_partner_fra }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-fe">{{ home_partner_fe }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-unece">{{ home_partner_unece }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-mp">{{ home_partner_mp }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-ofac">{{ home_partner_ofac }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-itto">{{ home_partner_itto }}</div>
            </div>-->

        </div>

    </div>

    <!-- right side -->
    <div class="col-lg-4">
        <div class="col-lg-12">

            <div>
                <h1>{{featured_links}}</h1>
                <!-- TODO: how to get the right size? -->
                <p id="fs_home_faostat_database_download">{{faostat_database_download}}</p>
                <div>
                    <p id="fs_home_country_profile">{{fs_home_country_profile}}</p>
                    <!--http://faostat.fao.org/CountryProfiles/Country_Profile/default.aspx-->
                </div>

            </div>
            <hr>

            <div>
                <h1>{{whats_new}}</h1>
                <div id="fs_home_whats_new"></div>
            </div>
            <hr>

            <div>
                <h1>{{coming_up}}</h1>
                <div id="fs_home_coming_up"></div>
            </div>
            <hr>

            <div>
                <h1>{{contact_us}}</h1>
                <p>{{department_ess}}</p>
                <p>{{address_fao}}</p>
                <p>+39 06 570 55303</p>
                <a href="mailto:FAO-statistics@fao.org">FAO-statistics@fao.org </a>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>
