
<!--<div class="row fs-intro-message">-->

<!--<div class="col-md-12">-->
<!--{{welcome_text}}-->
<!--</div>-->


<!--</div>-->

<br><br>



<div class="jumbotron faostat-intro">
    <div>
        <h2>Food and agriculture data</h2>
        <p>FAOSTAT provides free access to food and agriculture data for 245 countries and 35 regional areas from 1961 to the most recent year available.</p>


    <!--        <a href='{{URL_DATA}}'>Explore the data</a>
            <a href='{{URL_DATA}}' class="btn-floating btn-primary btn-large waves-effect waves-light">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>-->

            <a href='{{URL_DATA}}' class="btn btn-lg btn-primary waves-effect truncate">
                <!--<i class="material-icons">keyboard_arrow_right</i>-->
                <!--<i class="material-icons">explore</i>-->
                Explore the data
            </a>


    </div>
</div>

<!--<div class="hidden-xs"><br><br></div>-->

<!--<div class="row">

    <div class="col-md-12">

        <div class="swiper-container fs-home-swiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="title">
                        <h1 data-swiper-parallax="-100">
                            <a target="_blank" href="http://www.fao.org/hunger/en/">FAO hunger map</a>
                        </h1>
                        <h2 class="hidden-xs" data-swiper-parallax="-500">About 793 million people are undernourished globally, down 167 million over the last decade, and 216 million less than in 1990–92. The decline is more pronounced in developing regions, despite significant population growth. </h2>
                        <div class="white-stripe"></div>
                    </div>
    &lt;!&ndash;                <div class="parallax-bg">
                        <div id="fs_home_chart1"></div>
                    </div>&ndash;&gt;
                    <div class="parallax-bg" style="background-image:url(src/images/homepage/img-2.jpg)"></div>
                </div>
                <div class="swiper-slide">
                    <div class="title">
                        <h1 data-swiper-parallax="-100">
                            Food security in the 2030 Agenda for Sustainable Development
                        </h1>
                        <h2 class="hidden-xs" data-swiper-parallax="-500">
                            Adopted by the UN’s 193 Member States in 2015, the Sustainable Development Goals (SDGs) are new global goals that succeeded the Millennium Development Goals in 2016. The SDGs will shape national development policies for the next 15 years. Food and agriculture is at the heart of the 17 SDGs, beginning with SDG1 - End poverty and SDG2 - End hunger.                                </h2>
                        <div class="white-stripe"></div>
                    </div>
                    <div class="parallax-bg" style="background-image:url(src/images/homepage/img-3.jpg)"></div>
                </div>
                <div class="swiper-slide">
                    <div class="title">
                        <h1 data-swiper-parallax="-100">FAO statistical yearbooks</h1>
                        <h2 class="hidden-xs" data-swiper-parallax="-500">
                            FAO statistical yearbooks provide thematic and regional data and analysis. They provide an overview of key indicators, data visualizations and country-level tables.
                        </h2>
                        <div class="white-stripe"></div>
                    </div>
                    <div class="parallax-bg" style="background-image:url(src/images/homepage/img-4.jpg)"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev">
                <a class="btn-floating waves-effect waves-light btn-default hoverable">
                    <i class="material-icons">chevron_left</i>
                </a>
            </div>
            <div class="swiper-button-next">
                <a class="btn-floating waves-effect waves-light btn-default hoverable">
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>


    </div>
</div>-->

<div class="row home-content">

    <!-- left side -->
    <div class="col-md-8">

     <!--   <div class="row">

            <div class="col-md-12">

                 &lt;!&ndash;Swiper &ndash;&gt;
                <div class="swiper-container fs-home-swiper">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="title">
                                <h1 data-swiper-parallax="-100">
                                    <a target="_blank" href="http://www.fao.org/hunger/en/">FAO hunger map</a>
                                </h1>
                                <h2 class="hidden-xs" data-swiper-parallax="-500">About 793 million people are undernourished globally, down 167 million over the last decade, and 216 million less than in 1990–92. The decline is more pronounced in developing regions, despite significant population growth. </h2>
                                <div class="white-stripe"></div>
                            </div>
                            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-2.jpg)"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="title">
                                <h1 data-swiper-parallax="-100">
                                    Food security in the 2030 Agenda for Sustainable Development
                                </h1>
                                &lt;!&ndash; http://www.fao.org/sustainable-development-goals/home/en/ &ndash;&gt;
                                <h2 class="hidden-xs" data-swiper-parallax="-500">
                                    Adopted by the UN’s 193 Member States in 2015, the Sustainable Development Goals (SDGs) are new global goals that succeeded the Millennium Development Goals in 2016. The SDGs will shape national development policies for the next 15 years. Food and agriculture is at the heart of the 17 SDGs, beginning with SDG1 - End poverty and SDG2 - End hunger.                                </h2>
                                <div class="white-stripe"></div>
                            </div>
                            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-3.jpg)"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="title">
                                &lt;!&ndash; EN: http://www.fao.org/economic/ess/ess-publications/ess-yearbook/en/
                                    FR: http://www.fao.org/economic/ess/ess-publications/lannuaire-statistique/fr/
                                    SP: http://www.fao.org/economic/ess/ess-publications/anuario-estadistico/es/
                                    &ndash;&gt;
                                <h1 data-swiper-parallax="-100">FAO statistical yearbooks</h1>
                                <h2 class="hidden-xs" data-swiper-parallax="-500">
                                    FAO statistical yearbooks provide thematic and regional data and analysis. They provide an overview of key indicators, data visualizations and country-level tables.
                                </h2>
                                <div class="white-stripe"></div>
                            </div>
                            <div class="parallax-bg" style="background-image:url(src/images/homepage/img-4.jpg)"></div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev">
                        <a class="btn-floating waves-effect waves-light btn-default hoverable">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </div>
                    <div class="swiper-button-next">
                        <a class="btn-floating waves-effect waves-light btn-default hoverable">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="hidden-xs"><br><br></div>-->

      <!--  <div class="row">

            <div class="col-sm-12">
                <div class="elegant-card z-depth-1 hoverable">
                    &lt;!&ndash; Image wrapper &ndash;&gt;
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/stats.jpg" class="lazy img-responsive"></a>
                    </div>

                    &lt;!&ndash; Button &ndash;&gt;
                    <a href='{{URL_DATA}}' class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>

                    &lt;!&ndash; Content &ndash;&gt;
                    <div class="card-content">
                        <h3>Food and agriculture data</h3>
                        <p>FAOSTAT provides free access to food and agriculture data for 245 countries and 35 regional areas from 1961 to the most recent year available.</p>
                    </div>

                </div>
            </div>
        </div>-->

        <!--<div class="hidden-xs"><br><br></div>-->

        <div class="row">
            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">
                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/database.jpg" class="lazy img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a href='{{URL_RELEASE_CALENDAR}}' target="_blank" class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">event_note</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>{{database_updates}}</h3>

                        <div class="swiper-container-updates">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul id="fs_home_database_updates" class="list-unstyled"></ul>
                                </div>
                            </div>
                            <!-- Add Scroll Bar -->
                            <div class="swiper-scrollbar"></div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">
                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/info-map.jpg" class="lazy img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a href='{{URL_BROWSE_BY_COUNTRY}}' class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>{{country_indicators}}</h3>
                        <p>Country indicators provide an overview of key indicators and charts by country.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="hidden-xs"><br><br></div>

        <div class="row">

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">

                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/info-chart.jpg" class="lazy img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a href="{{URL_BROWSE_RANKINGS}}"  class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <!-- Content -->
                    <div class="card-content">
                        <h3 class="text-capitalized">{{rankings}}</h3>
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                 <div class="elegant-card z-depth-1 hoverable">

                     <div class="card-up view overlay hm-white-slight">
                         <a><img data-original="src/images/homepage/pocket.jpg" class="lazy img-responsive"></a>
                     </div>

                     <a target='_blank' href=' http://www.fao.org/economic/ess/ess-publications/ess-yearbook/en/' taget="_blank" class="btn-floating btn-primary  btn-large waves-effect waves-light">
                         <i class="material-icons">keyboard_arrow_right</i>
                     </a>
                     <div class="card-content">
                         <h3>FAO statistical yearbooks</h3>
                         <p>FAO statistical yearbooks provide thematic and regional data and analysis. They provide an overview of key indicators, data visualizations and country-level tables.</p>
                     </div>

                 </div>
             </div>

        </div>


       <div class="hidden-xs"><br><br></div>

      <div class="row">

            <div class="col-sm-12">
                <div class="elegant-card z-depth-1 hoverable">

                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/sdgs-big.png" class="lazy img-responsive"></a>
                    </div>

                    <a target='_blank' href='http://www.fao.org/sustainable-development-goals/{{locale}}/' taget="_blank" class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <div class="card-content">
                        <h3>Food security in the 2030 Agenda for Sustainable Development</h3>
                        <p>Adopted by the UNâs 193 Member States on 25 September 2015, the Sustainable Development Goals are new global goals that will succeed the Millennium Development Goals in 2016. The SDGs will shape national development policies for the next 15 years. Food and agriculture is at the heart of the 17 SDGs, beginning with SDG1, End poverty, and SDG2, End hunger. Food security and its link to natural resources and rural development features in virtually every goal of the 2030 Agenda.  </p>
                    </div>

                </div>
            </div>

        </div>


        <div class="visible-xs"><br><br></div>


    </div>

    <!-- right side -->
    <div class="col-md-4">

        <div class="elegant-card-horizontal z-depth-1 hoverable">

            <div style='cursor:pointer;' class="card-content clearfix" data-role="bulk_download" data-url='{{URL_FAOSTAT_DATABASE_ZIP}}'>

                <div class="card-horiz-right-image pull-right">
                    <i class="material-icons">file_download</i>
                </div>

                <div class="card-horiz-left-text-up pull-left">
                    <h4 class="truncate">Bulk Download</h4>
                    <div class="clearfix">
                        <span class="pull-left">All FAOSTAT Data</span><span class="pull-right visible-xs visible-sm hidden-md visible-lg">772 MB</span>
                    </div>
                </div>
                <div class="card-horiz-left-text-bottom pull-left">
                    <span class="truncate">Updated on 23/06/2016</span>

                </div>

            </div>

        </div>

<!--        <div class="panel panel-default hoverable">

            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <a data-role="bulk_download" href='{{URL_FAOSTAT_DATABASE_ZIP}}' class="btn-floating waves-effect waves-light btn-default" data-role="export">
                            <i class="material-icons">file_download</i>
                        </a>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <div class="pull-right clearfix">
                            <h4>{{faostat_database_download}}</h4>
                            <small>Updated on 23/06/2016 (772 MB)</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->

        <br>
        <div class="visible-xs"><br></div>

        <!-- <div class="panel panel-default hoverable">

            <div class="panel-heading">
                <h4>{{related_links}}Related Links</h4>
            </div>

            <div class="panel-body">

                <ul class="list-unstyled">
                    <li><a id="territorial_notes" class="text-capitalize" href="#">{{territorial_notes}}</a></li>
                </ul>

            </div>

        </div>
        -->

        <div class="panel panel-default hoverable">

                    <!--<div class="panel-heading">-->
                <!--<h4>{{featured_links}}</h4>-->
            <!--</div>-->

           <!--  <div class="panel-body grey lighten-5">

                <a href="{{URL_FAOSTAT_DATABASE_ZIP}}" class="btn btn-primary btn-block" target='_blank' data-role="fs-download-metadata-button">
                    <i class="material-icons left">file_download</i>{{faostat_database_download}}
                </a>

                <a href="{{URL_BROWSE_BY_COUNTRY}}" class="btn btn-link btn-block">
                    <i class="material-icons left">flag</i>{{country_indicators}}
                </a>

                <a href="{{URL_BROWSE_RANKINGS}}" class="btn btn-link btn-block">
                    <i class="material-icons left">trending_up</i>{{rankings}}
                </a>

            </div>

            -->

            <div class="panel-body">

                <!-- Twitter -->
                <div id="fs_home_twitter"
                     class="twitter-timeline"
                     data-chrome=""
                     href="https://twitter.com/FAOstatistics"
                     data-widget-id="{widget_id}">

                </div>
            </div>

        </div>

        <div class="hidden-xs"><br></div>

        <div class="panel panel-default hoverable">

            <div class="panel-body" style="background-color: #D5E4EB;">
                <img src="src/images/faostat-logo-blue-capital-only-text.svg" width="108px" height="20px" alt="Faostat" class="faostat-header-logo">

                <address>
                    <a href="http://www.fao.org/economic/ess/{{locale}}/" target="_blank">
                        <strong>Statistics Division</strong>
                    </a>
                    <br>
                    Food and Agriculture Organization of the United Nations<br>
                    Viale delle Terme di Caracalla<br>
                    00153 Rome, Italy<br>
                    <abbr title="Phone">T:</abbr> (+39) 06 570 55303
                </address>

                <address>
                    <strong>Info</strong><br>
                    <a href="mailto:#">FAO-statistics@fao.org</a>
                </address>

            </div>

        </div>

    </div>

</div>
