
<br><br>

<div class="jumbotron faostat-intro">
    <div>
        <h2>Food and agriculture data</h2>
        <p>FAOSTAT provides free access to food and agriculture data for 245 countries and 35 regional areas from 1961 to the most recent year available.</p>
        <a data-link='interanl' href='{{URL_DATA}}' class="btn btn-lg btn-primary waves-effect truncate">
            Explore the data
        </a>
    </div>
</div>

<div class="row home-content">

    <div class="col-md-8">

        <div class="row">
            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">

                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/database.jpg" class="lazy img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a data-link='external' href='{{URL_RELEASE_CALENDAR}}' target="_blank" class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">event_note</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>{{database_updates}}</h3>

                        <div class="swiper-container-updates">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <ul id="fs_home_database_updates" class="list-unstyled"></ul>
                                </div>
                            </div>

                            <!-- Add Scroll Bar -->
                            <div class="swiper-scrollbar"></div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">

                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/pocket.jpg" class="lazy img-responsive"></a>
                    </div>

                    <a data-link='external' target='_blank' href=' http://www.fao.org/economic/ess/ess-publications/ess-yearbook/en/' taget="_blank" class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <div class="card-content">
                        <h3>FAO statistical yearbooks</h3>
                        <p>The FAO Statistical Yearbook provides a selection of indicators on food and agriculture by country.</p>
                        <p>The first part of the book includes thematic spreads with data visualizations (graphs, charts, and maps) with basic text. The second part has country-level tables for a selected number of indicators.</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="hidden-xs"><br><br></div>

        <div class="row">

            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">
                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/info-map.jpg" class="lazy img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a data-link='interanl' href='{{URL_BROWSE_BY_COUNTRY}}' class="btn-floating btn-primary btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>

                    <!-- Content -->
                    <div class="card-content">
                        <h3>{{country_indicators}}</h3>
                        <p>Country indicators provide an overview of key indicators and charts by country.</p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="elegant-card z-depth-1 hoverable">

                    <!-- Image wrapper -->
                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/info-chart.jpg" class="lazy img-responsive"></a>
                    </div>

                    <!-- Button -->
                    <a data-link='interanl' href="{{URL_BROWSE_RANKINGS}}"  class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <!-- Content -->
                    <div class="card-content">
                        <h3 class="text-capitalized">{{rankings}}</h3>
                        <p>Rankings indicators provide an overview of key indicators and charts by commodity.</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="hidden-xs"><br><br></div>

        <div class="row">

            <div class="col-sm-12">
                <div class="elegant-card z-depth-1 hoverable">

                    <div class="card-up view overlay hm-white-slight">
                        <a><img data-original="src/images/homepage/sdgs-big.png" class="lazy img-responsive"></a>
                    </div>

                    <a data-link='external' target='_blank' href='http://www.fao.org/sustainable-development-goals/{{locale}}/' taget="_blank" class="btn-floating btn-primary  btn-large waves-effect waves-light">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <div class="card-content">
                        <h3>Food security in the 2030 Agenda for Sustainable Development</h3>
                        <p>The 2030 Agenda for Sustainable Development, including the 17 Sustainable Development Goals (SDGs), are new global objectives that succeeded the Millennium Development Goals on 1 January 2016. The SDGs will shape national development plans over the next 15 years. From ending poverty and hunger to responding to climate change and sustaining our natural resources, food and agriculture lies at the heart of the 2030 Agenda.</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="visible-xs"><br><br></div>

    </div>

    <!-- right side -->
    <div class="col-md-4">

        <div class="elegant-card-horizontal z-depth-1 hoverable">

            <div style='cursor:pointer;' class="card-content clearfix" data-role="bulk_download" data-url=''>

                <div class="card-horiz-right-image pull-right">
                    <i class="material-icons">file_download</i>
                </div>

                <div class="card-horiz-left-text-up pull-left">
                    <h4 class="truncate">Bulk Download</h4>
                    <div class="clearfix">
                        <span class="pull-left">All FAOSTAT Data</span>
                        <span class="pull-right visible-xs visible-sm hidden-md visible-lg" data-role="bulk_download_size"></span>
                    </div>
                </div>
                <div class="card-horiz-left-text-bottom pull-left">
                    <span class="truncate">Updated on <span data-role="bulk_download_date"></span></span>

                </div>

            </div>

        </div>

        <br>

        <div class="visible-xs"><br></div>

        <div class="panel panel-default hoverable">

            <div class="panel-body">

                <!-- Twitter -->
                <div id="fs_home_twitter"
                     class="twitter-timeline"
                     data-chrome=""
                     href="https://twitter.com/FAOstatistics"
                     data-widget-id="{widget_id}">

                </div>
            </div>

        </div>

        <div class="hidden-xs"><br></div>

        <div class="panel panel-default hoverable">

            <div class="panel-body" style="background-color: #D5E4EB;">
                <img src="src/images/faostat-logo-blue-capital-only-text.svg" width="108px" height="20px" alt="Faostat" class="faostat-header-logo">

                <address>
                    <a data-link='external' href="http://www.fao.org/economic/ess/{{locale}}/" target="_blank">
                        <strong>Statistics Division</strong>
                    </a>
                    <br>
                    Food and Agriculture Organization of the United Nations<br>
                    Viale delle Terme di Caracalla<br>
                    00153 Rome, Italy<br>
                    <abbr title="Phone">T:</abbr> (+39) 06 570 55303
                </address>

                <address>
                    <strong>Info</strong><br>
                    <a data-link='external' href="mailto:FAO-statistics@fao.org">FAO-statistics@fao.org</a>
                </address>

            </div>

        </div>

    </div>

</div>