
<script type='text/x-handlebars-template' id='groups'>

    <h4><span><a href="#"><i data-role='show-details' class="fa fa-search-plus"></i></a></span> Total Groups {{total}} </h4>
    <ul data-role='details' class="hidden">
        {{#each data}}
            <li>({{this.code}}) {{this.label}} </li>
        {{/each}}
    </ul>

</script>

<script type='text/x-handlebars-template' id='domains'>

    <h4><span><a href="#"><i data-role='show-details' class="fa fa-search-plus"></i></a></span> Total Domains {{total}} </h4>
    <ul data-role='details' class="hidden">
        {{#each data}}
            <li>({{this.GroupCode}}) {{this.GroupName}} - ({{this.DomainCode}}) {{this.DomainName}} </li>
        {{/each}}
    </ul>

</script>

<script type='text/x-handlebars-template' id='domain-details'>

    <div data-role="{{DomainCode}}">
        <h4>({{DomainCode}}) {{DomainName}} </h4>

        <h5><span><a href="#"><i data-role='dimensions-show-details' class="fa fa-search-plus"></i></a></span> Dimensions</h5>
        <div data-role="dimensions-details"></div>

        <h5><span><a href="#"><i data-role='codes-show-details' class="fa fa-search-plus"></i></a> Codes</h5>
        <div data-role="codes-details"></div>

        <h5><span><a href="#"><i data-role='data-show-details' class="fa fa-search-plus"></i></a> Data</h5>
        <div data-role="data-details"></div>

    </div>
    <hr>

</script>


<script type='text/x-handlebars-template' id='dimensions'>
    {{total}}
    <ul>
    {{#each data}}
        <li>{{this.id}} </li>
        {{#if subdimensions}}
        <ul>
            {{#each subdimensions}}
                <li>{{this.id}}</li>
            {{/each}}
        </ul>
        {{/if}}
    {{/each}}
    </ul>
</script>

<script type='text/x-handlebars-template' id='codes'>
    <div class="row">
        <div class="col-md-2">
            <h5>{{this.metadata.parameters.id}} </h5>
        </div>
        <div class="col-md-2">
            <p>{{this.metadata.parameters.parameter}}</p>
        </div>
        <div class="col-md-2">
            <p>{{this.total}}</p>
        </div>
    </div>
</script>


<script type='text/x-handlebars-template' id='data'>
    <h5 {{#if this.color}}style='color: {{this.color}}'{{/if}}>Rows {{this.rows}}</h5>
    <h5 {{#if this.status}}style='color: {{this.color}}'>Status {{this.status}}{{/if}}</h5>
</script>

<script type='text/x-handlebars-template' id='warning'>
        <div class="row">
            <div class="col-md-12">
                <h4 {{#if this.color}}style='color: {{this.color}}'{{/if}}>({{this.DomainCode}}) {{this.DomainName}} </h4>
            </div>
        </div>
</script>

<script type='text/x-handlebars-template' id='databean'>

</script>