
<h1>Configuration</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tbody>
        <tr>
            <td>VERSION</td>
            <td>{{VERSION}}</td>
        </tr>
        <tr>
            <td>DATE_UPDATE</td>
            <td>{{DATE_UPDATE}}</td>
        </tr>
        <tr>
            <td>FAOSTAT API BASE URL</td>
            <td>{{URL_API}}</td>
        </tr>
        <tr>
            <td>DATASOURCE</td>
            <td>{{DATASOURCE}}</td>
        </tr>
        <tr>
            <td>LOGLEVEL</td>
            <td>{{LOGLEVEL}}</td>
        </tr>
        <tr>
            <td>GOOGLE_ANALYTICS_ID</td>
            <td>{{GOOGLE_ANALYTICS_ID}}</td>
        </tr>
        <tr>
            <td>URL_FAOSTAT_DOCUMENTS_BASEPATH</td>
            <td>{{URL_FAOSTAT_DOCUMENTS_BASEPATH}}</td>
        </tr>
        <tr>
            <td>URL_FEEDBACK_SYSTEM</td>
            <td>{{URL_FEEDBACK_SYSTEM}}</td>
        </tr>
        </tbody>
    </table>
</div>