
<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li class="active" role='presentation'>
                <a role='tab' data-toggle='tab'>{{indicators}}Indicators</a>
            </li>
        </ul>
    </div>
</div>


<div class="row" style="padding-top:25px;">
    <div class='col-md-4'>
        <div id="fs-search-box">
            <h5 role='tab' data-toggle='tab'>{{filter_indicators}}Find an indicator</h5>
            <input class='form-control' placeholder='{{search_indicators}}e.g. Rice production' id='fs-indicators-search'>
        </div>
    </div>
</div>

<div data-role="fs-faq-answers" style="padding-top: 25px;">
    {{#each data as |d dIndex|}}
        <h3>{{{this.topic}}}</h3>
        <ul>
            {{#each indicators as |i iIndex|}}
                <li>
                    <a href="#" id="fs-indicator-{{dIndex}}{{iIndex}}">{{i.text}}</a>
                </li>
            {{/each}}
        </ul>
    {{/each}}
</div>


<!-- TABLE -->
<table id="example" class="display nowrap" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>ZIP / Post code</th>
        <th>Country</th>
    </tr>
    </thead>
</table>