<h2>{{methodology_title}}</h2>
<hr>

{{#if this.estimation}}
    <h2>{{estimation_title}}</h2>
    <p>{{{this.estimation}}}</p>
    <hr>
{{/if}}

{{#if this.coverage}}
    <h2>{{coverage_title}}</h2>
    <p>{{{this.coverage}}}</p>
    <hr>
{{/if}}

{{#if this.collection}}
    <h2>{{collection_title}}</h2>
    <p>{{{this.collection}}}</p>
    <hr>
{{/if}}

{{#if this.reference}}
    <h2>{{reference_title}}</h2>
    <p>{{{this.reference}}}</p>
    <hr>
{{/if}}

{{#if this.note}}
    <h2>{{note_title}}</h2>
    <p>{{{this.note}}}</p>
    <hr>
{{/if}}