
<h1 class="text-capitalized">{{mes}}</h1>

<!-- Tabs -->
<div class='row'>
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>

            <li role='presentation'>
                <a href='#methodologies' data-section='methodologies' role='tab' data-toggle='tab'>
                    {{methodologies}}
                </a>
            </li>

            <li role='presentation'>
                <a href='#classifications' data-section='classifications' role='tab' data-toggle='tab'>
                    {{classifications}}
                </a>
            </li>

            <li role='presentation'>
                <a href='#units' data-section='units' role='tab' data-toggle='tab'>
                    {{units}}
                </a>
            </li>

            <li role='presentation'>
                <a href='#glossary' data-section='glossary' role='tab' data-toggle='tab'>
                    {{glossary}}
                </a>
            </li>

            <li role='presentation'>
                <a href='#abbreviations' data-section='abbreviations' role='tab' data-toggle='tab'>
                    {{abbreviations}}
                </a>
            </li>

        </ul>
    </div>
</div>

<!-- Tab Contents -->
<div class="tab-content">

    <div class="tab-pane" id="units" data-section='units'></div>

    <div class="tab-pane" id="abbreviations" data-section='abbreviations'></div>

    <div class="tab-pane" id="methodologies" data-section='methodologies'></div>

    <div class="tab-pane" id="classifications" data-section='classifications'></div>

    <div class="tab-pane" id="glossary" data-section='glossary'></div>

</div>