<h2 style="padding-bottom: 25px; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">{{methodology_title}}</h2>

{{#if this.estimation}}
    <h4 style="color:#337ab7;">{{estimation_title}}</h4>
    <p>{{{this.estimation}}}</p>
    <hr>
{{/if}}

{{#if this.coverage}}
    <h4 style="color:#337ab7;">{{coverage_title}}</h4>
    <p>{{{this.coverage}}}</p>
    <hr>
{{/if}}

{{#if this.collection}}
    <h4 style="color:#337ab7;">{{collection_title}}</h4>
    <p>{{{this.collection}}}</p>
    <hr>
{{/if}}

{{#if this.reference}}
    <h4 style="color:#337ab7;">{{reference_title}}</h4>
    <p>{{{this.reference}}}</p>
    <hr>
{{/if}}

{{#if this.note}}
    <h4 style="color:#337ab7;">{{note_title}}</h4>
    <p>{{{this.note}}}</p>
{{/if}}