


<script type='text/x-handlebars-template' id='template'>
    {{#if documents}}
        <ul style="list-style-type: none; padding: 0; margin: 0;">
            {{#each documents}}
                <li style="margin-top:15px;">
                    <a target='_blank' data-filename='{{FileName}}' href='{{base_url}}{{FileName}}'><i class="fa fa-file-pdf-o"></i> {{FileTitle}}</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>{{no_docs_available}}.</p>
    {{/if}}
</script>