
<script type='text/x-handlebars-template' id='template'>
    {{#if documents}}
        <ul class="list-unstyled list-download">
            {{#each documents}}
                <li>
                    <a target='_blank' data-filename='{{FileName}}' href='{{base_url}}{{FileName}}'
                       class="">
                        <span class="icojam_pdf inline-icon"></span>
                        {{FileTitle}}
                    </a>

                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>{{no_docs_available}}.</p>
    {{/if}}
</script>