<div style="border-style: solid;">

    <button data-role="remove_filter_box" type="button" class="btn btn-default btn-lg pull-right">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{remove_filter}}
    </button>

    <h2>{{groupname}}</h2>
    <h2>{{domainname}}</h2>
    <div class="row">
        <div class="col-lg-3">
            <div data-role="groups"></div>
        </div>
        <div class="col-lg-3">
            <div data-role="domains"></div>
        </div>
    </div>

    <!--    <div data-role="groups">
        &lt;!&ndash;<h2 data-role="title">{{group}}</h2>
        <div data-role="dd"></div>&ndash;&gt;
    </div>
    <div data-role="domains">
&lt;!&ndash;        <h2 data-role="title">{{domain}}</h2>
        <div data-role="dd"></div>&ndash;&gt;
    </div>-->

    <div class="row">
       <div data-role="filters"></div>
        <!-- LIST of the filters depending on the domain -->
    </div>
    <!--<div data-role="summary">summary to be implemented</div>-->
</div>