<div>
    <div data-role="group_title">{{group}}</div>
    <div data-role="group_dd"></div>
</div>
<div>
    <div data-role="domain_title">{{domain}}</div>
    <div data-role="domain_dd"></div>
</div>
<div>
    <div data-role="area_title">{{area}}</div>
    <div data-role="area_dd"></div>
</div>
<div>
    <div data-role="item_title">{{item}}</div>
    <div data-role="item_dd"></div>
</div>
<div>
    <div data-role="element_title">{{element}}</div>
    <div data-role="element_dd"></div>
</div>