
<!-- TODO: legacy not used anymore -->

<div class="row hidden">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>

<!--            <li role='presentation'>
                <a href='#browse_by_domain' data-section='browse_by_domain' role='tab' data-toggle='tab'>
                    {{browse_by_domain}}
                </a>
            </li>-->

            <li role='presentation'>
                <a href='#browse_by_country' data-section='browse_by_country' role='tab' data-toggle='tab'>
                    {{browse_by_country}}
                </a>
            </li>

            <li role='presentation'>
                <a href='#browse_rankings' data-section='browse_rankings' role='tab' data-toggle='tab'>
                    {{by_rankings}}
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="tab-content">

<!--    <div class="tab-pane" id="browse_by_domain" data-section='browse_by_domain'>
            &lt;!&ndash;{{browse_by_domain}}&ndash;&gt;
    </div>-->

    <div class="tab-pane" id="browse_by_country" data-section='browse_by_country' >
            <!--{{browse_by_country}}-->
    </div>

    <div class="tab-pane" id="browse_rankings" data-section='browse_rankings' >
            <!--{{rankings}}-->
    </div>

</div>

