<!--<h1>{{title}}</h1>-->
<!--<hr>-->
<!--<br>-->
<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li role='presentation'>
                <a href='#about' data-section='about' role='tab' data-toggle='tab'>{{welcome_page}}</a>
            </li>
            <li role='presentation'>
                <a href='#interactive_download' data-section='interactive' role='tab' data-toggle='tab'>{{interactive_download}}</a>
            </li>
            <li role='presentation'>
                <a style='display:none' href='#report' data-section='report' role='tab' data-toggle='tab'>{{report}}</a>
            </li>
            <li role='presentation'>
                <a href='#bulk_downloads' data-section='bulk' role='tab' data-toggle='tab'>{{bulk_downloads}}</a>
            </li>
            <li role='presentation'>
                <a href='#metadata' data-section='metadata' role='tab' data-toggle='tab'>{{metadata}}</a>
            </li>
        </ul>
    </div>
</div>

<div class='row'>

    <div class='col-md-3 fs-tree-holder'>
        <!--<h1>{{tree_title}}</h1>-->
        <input class='form-control' placeholder='{{filter_domain_tree}}' id='fs-download-tree-search'>
        <br>
        <span class="label label-default">{{faostat_domains}}</span>
        <div id='fs-download-domain-tree' class="fs-download-domain-tree"></div>
    </div>

    <div class='col-md-9'>

        <h1>
            <span id='fs-download-main-container-title'></span>
        </h1>

        <div class="tab-content">
            <div class="tab-pane" id="about" data-section='about'>

            </div>

            <div class="tab-pane" id="interactive_download" data-section='interactive_download' >

            </div>

            <div class="tab-pane" id="report" data-section='report' >

            </div>

            <div class="tab-pane" id="bulk_downloads" data-section='bulk_downloads' >

            </div>

            <div class="tab-pane" id="metadata" data-section='metadata' >

            </div>
        </div>

    </div>

</div>

<div class='row'>
    <div class='col-xs-12'>
        <div id='fs-download-output-area'></div>
    </div>
</div>

