
<!-- TODO: remove it -->
<!--<div class="text-center">
    <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal">
        Left Sidebar Modal
    </button>
</div>-->
<!-- Modal -->
<div style="position:relative">
    <div class="modal left fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <span class="label label-default">{{faostat_domains}}</span>
                    <input class='form-control' placeholder='{{filter_domain_tree}}' id='fs-download-tree-search'>
                    <br>

                    <div id='fs-download-domain-tree'></div>

                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div>

<div class="row">
    <div class="col-md-9">
        <h1 data-toggle="modal" data-target="#myModal" class='truncate' id='fs-download-main-container-title'></h1>
    </div>
    <div class="col-md-3">
        <h1>
            <!-- TODO: use Common.getURI(ROUTE.DATA)-->
            <a href="#en/data" type="button" class="btn btn-default pull-right" id="fs-browse-by-country-profile-back">
                <i class="fa fa-arrow-left"></i>
                Back to domains' list
            </a>
        </h1>
    </div>
</div>

<!--<h1><span class="" id='fs-download-main-container-title'></span></h1>-->

<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
<!--            <li role='presentation' style="padding-top:5px;">
                <i class="fa fa-bars fa-lg" aria-hidden="true" style="cursor:pointer;" data-role="fs-domains-menu"></i>
            </li>-->
            <li role='presentation'>
                <a href='#browse' data-section='browse_by_domain_code' role='tab' data-toggle='tab'>{{browse}}</a>
            </li>
<!--            <li role='presentation'>
                <a href='#bulk_downloads' data-section='bulk' role='tab' data-toggle='tab'>{{bulk_downloads}}</a>
            </li>-->
            <!--
            <li role='presentation'>
                <a href='#about' data-section='about' role='tab' data-toggle='tab'>{{welcome_page}}</a>
            </li>
            -->
            <li role='presentation'>
                <a href='#interactive_download' data-section='interactive' role='tab' data-toggle='tab'>{{interactive_download}}</a>
            </li>
            <li role='presentation'>
                <a style='display:none' href='#report' data-section='report' role='tab' data-toggle='tab'>{{report}}</a>
            </li>
            <li role='presentation'>
                <a href='#metadata' data-section='metadata' role='tab' data-toggle='tab'>{{metadata}}</a>
            </li>
        </ul>
    </div>
</div>

<div class='row'>

    <div class='col-md-9'>

        <!-- <h1>
            <span id='fs-download-main-container-title'></span>
        </h1>
        -->

        <div class="tab-content">
            <div class="tab-pane" id="about" data-section='about'></div>
            <div class="tab-pane" id="interactive_download" data-section='interactive_download' >
            </div>
            <div class="tab-pane" id="report" data-section='report' ></div>
            <div class="tab-pane" id="bulk_downloads" data-section='bulk_downloads' ></div>
            <div class="tab-pane" id="metadata" data-section='metadata' ></div>
            <div class="tab-pane" id="browse" data-section='browse_by_domain_code'>
            </div>
        </div>

    </div>

    <div class='col-md-3'>

        <br>

        <!-- Description -->
        <div data-role="description">
            <p class="label label-default">{{data_description}}Data Description</p>
            <p data-role="text"></p>
        </div>

        <!-- Organization -->
        <div data-role="organization">
            <small data-role="text"></small>
        </div>

        <br>

        <!-- Last Update -->
        <div data-role="last-update">
            <p class="label label-default">{{last_update}}Last update</p>
            <p data-role="date"></p>
        </div>

        <!-- Contacts -->
        <div data-role="contact-name">
            <p class="label label-default">{{contacts}}Contacts</p>
            <p data-role="text"></p>
        </div>

        <!-- Email -->
        <div data-role="contact-email" style="display:none">
            <p class="label label-default">{{contacts_email}}Contacts Email</p>
            <p data-role="text"></p>
        </div>

        <!-- Bulk Downloads -->
        <div class="btn-group btn-block">
            <button type="button" class="btn btn-default col-xs-10 btn-lg">
                <i class="fa fa-download" aria-hidden="true"></i> Download All Data
            </button>
            <button type="button" class="btn btn-default dropdown-toggle col-xs-2 btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu col-xs-12" style="height: auto; max-height: 300px; overflow-x: hidden;" data-role="bulk-downloads-caret">

            </ul>
        </div>

        <br>
        <br>

        <!-- interactive Download -->
        <a type="button" class="btn btn-default btn-lg btn-block" data-role="download-interactive-link">
            <i class="fa fa-sliders" aria-hidden="true"></i> Interactive Download
        </a>

        <br>

        <a type="button"  class="btn btn-default btn-lg btn-block" data-role="fs-download-metadata-button" data-target="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i> {{metadata}}
        </a>

        <br>

        <p class="label label-default">{{related_documents}}</p>
        <div data-role="fs-download-related-documents"></div>

    </div>

</div>

<div class='row'>
    <div class='col-xs-12'>
        <div id='fs-download-output-area'></div>
    </div>
</div>