<!-- TODO: remove it -->
<!-- Modal -->
<div class="modal left fade " id="fs-data-tree-domain-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="label label-default">{{faostat_domains}}</span>
                <input class='form-control' placeholder='{{filter_domain_tree}}' id='fs-download-tree-search'>
                <br>

                <div id='fs-download-domain-tree'></div>

            </div>

        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->

<div class="row">
    <div class="col-xs-6 col-sm-8 col-md-9 clearfix">
        <a data-toggle="modal" data-target="#fs-data-tree-domain-modal"
           class="pull-left btn-floating waves-effect waves-light btn-primary fs-btn-tree" data-role="export">
            <!--<i class="material-icons">toc</i>-->
            <!--<i class="material-icons">perm_data_setting</i>-->
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
        <h1 class="truncate" data-role="domain-title"></h1>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 clearfix">
        <!-- TODO: use Common.getURI(ROUTE.DATA)-->
        <a href="{{url_data_section}}" type="button" class="btn btn-link pull-right fs-section-back waves-effect"
           id="fs-browse-by-country-profile-back">
            <i class="left material-icons">undo</i>
            Back to domains' list
        </a>
    </div>
</div>


<!--<h1><span class="" id='fs-download-main-container-title'></span></h1>-->

<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <!--
              <li role='presentation' style="padding-top:5px;">
                            <i class="fa fa-bars fa-lg" aria-hidden="true" style="cursor:pointer;" data-role="fs-domains-menu"></i>
                        </li>-->

            <!--
             <li role='presentation'>
                <a href='#bulk_downloads' data-section='bulk' role='tab' data-toggle='tab'>{{bulk_downloads}}</a>
            </li>-->
            <!--
            <li role='presentation'>
                <a href='#about' data-section='about' role='tab' data-toggle='tab'>{{welcome_page}}</a>
            </li>
            -->
            <li role='presentation'>
                <a href='#interactive_download' data-section='interactive' role='tab' data-toggle='tab'>
                    <!--{{interactive_download}}-->
                    Download Data
                </a>
            </li>
            <li role='presentation'>
                <a href='#browse' data-section='browse_by_domain_code' role='tab' data-toggle='tab'>
                    Visualize Data
                </a>
            </li>
            <li role='presentation'>
                <a href='#metadata' data-section='metadata' role='tab' data-toggle='tab'>{{metadata}}</a>
            </li>
            <li role='presentation'>
                <a style='display:none' href='#report' data-section='report' role='tab' data-toggle='tab'>
                    <span data-role="domain-title"></span> {{report}}
                </a>
            </li>
        </ul>
    </div>
</div>


<div class='row'>

    <div class='col-md-9 fs-data-padding-top'>

        <!-- Container tab-panels -->
        <div class="tab-content">
            <div class="tab-pane" id="about" data-section='about'></div>
            <div class="tab-pane" id="interactive_download" data-section='interactive_download'></div>
            <div class="tab-pane" id="report" data-section='report'></div>
            <div class="tab-pane" id="bulk_downloads" data-section='bulk_downloads'></div>
            <div class="tab-pane" id="metadata" data-section='metadata'></div>
            <div class="tab-pane" id="browse" data-section='browse_by_domain_code'></div>
        </div>

    </div>

    <div class='col-md-3 fs-data-padding-top'>

        <div class="panel panel-default hoverable">
            <div class="panel-heading">
                <h4 data-role="domain-title" class="fs-download-domain-title"></h4>
            </div>

            <div class="panel-body grey lighten-5" >

                <!-- Description -->
                <div data-role="description">
                    <p data-role="text"></p>
                </div>

                <!-- Organization -->
                <div data-role="organization">
                    <small data-role="text"></small>
                </div>

            </div>


            <div class="panel-footer amber lighten-4">

                <div>
                    <h5><i class="material-icons left">file_download</i>Bulk Downloads</h5>
                    <ul class="list-unstyled list-download" data-role="bulk-downloads-caret"></ul>
                </div>
            </div>

            <div class="panel-footer grey lighten-5">

                <!-- Last Update -->
                <div data-role="last-update">
                    <p class="label label-default label-aligned">{{last_update}}Last update</p>
                    <p data-role="date"></p>
                </div>

                <!-- Contacts -->
<!--                <div data-role="contact-name">
                    <p class="label label-default label-aligned">{{contacts}}Contacts</p>

                    <p data-role="text"></p>
                </div>-->

                <!--&lt;!&ndash; Group &ndash;&gt;-->
                <!--<div data-role="">-->
                <!--<p class="label label-default label-aligned">Group</p>-->
                <!--<p><span data-role="go_to_download" class="domain-icon icojam_Q"></span></p>-->
                <!--<p data-role="text">Commodity Balances - Livestock and Fish Primary Equivalent</p>-->
                <!--</div>-->


                <!-- Email -->
                <div data-role="contact-email" style="display:none">
                    <p class="label label-default label-aligned">{{contacts_email}}Contacts Email</p>

                    <p data-role="text"></p>
                </div>

                <p class="label label-default label-aligned">{{related_documents}}</p>

                <!--TODO: remove when data are not available -->
                <div data-role="fs-download-related-documents"></div>

                <a class="btn btn-link btn-block waves-effect" target='_blank' data-role="fs-download-metadata-button">
                    <i class="material-icons left">info_outline</i>Full {{metadata}}
                </a>

            </div>
        </div>

    </div>

</div>

<br>

<div class='row' id="fs-download-output-container" style="display:none;">

    <div class='col-xs-12'>
        <div class="fs-preview-container">
            <div class="panel panel-default hoverable">

                <div class="panel-heading clearfix">
                    <div class="pull-right">
                        <a class="btn-floating waves-effect waves-light btn-default disabled"
                           data-role="export"
                        ><i class="material-icons">file_download</i>
                        </a>
                    </div>
                    <h4>Show Data</h4>
                </div>

                <div class="panel-body fs-output-preview">

                    <!-- message preview -->
                    <div data-role="message">
                        <h3 class="text-center">
                            Where is the data?
                        </h3>

                        <h5 class="text-center fs-output-preview-message">
                            <span class="fs-icojam-icon icojam_rotate_4"></span><br>
                            Please make a selection above and press <i>Show Data</i>
                        </h5>
                    </div>

                    <!-- output content -->
                    <div data-role="content" class="fs-download-output-area" ></div>

                </div>
            </div>
        </div>
    </div>

</div>
