
<h1 class="text-capitalize">{{frequently_asked_questions}}</h1>

<div class="row">
    <div class='col-lg-12'>
        <ul class='nav nav-tabs' role='tablist'>
            <li class="active" role='presentation'>
                <a role='tab' data-toggle='tab'>{{faq}}</a>
            </li>
        </ul>
    </div>
</div>

<div id="fs-faq-results">

    <div class="row">
        <div class="col-md-12">

            <div data-role="fs-faq-questions">
                {{#each data as |topic topicIndex|}}
                    <h3>{{{topic.topic}}}</h3>
                    <ul class="list-unstyled fs-faq-list">
                        {{#each questions as |q qIndex|}}
                            <li>
                                <a href='#' data-role="question" data-answer="#fs-faq-question-{{topicIndex}}{{qIndex}}">{{{q.question}}}</a>
                            </li>
                        {{/each}}
                    </ul>
                {{/each}}

            </div>

            <hr>

            <div data-role="fs-faq-answers" style="padding-top: 25px;">
                {{#each data as |topic topicIndex|}}
                    {{#each questions as |q qIndex|}}
                        <div id="fs-faq-question-{{topicIndex}}{{qIndex}}" style="padding-top: 10px;">
                            <h4>{{{q.question}}}</h4>
                            <p>{{{q.answer}}}</p>
                        </div>
                        <br>
                    {{/each}}
                {{/each}}
            </div>

        </div>
    </div>

</div>

